<div style="display:inline">
  <button mat-button color="accent" type="button" (click)="hiidenFileButton.click()">
    <form hidden="true">
      <input #hiidenFileButton id="file" name="file" type="file" (change)="addFiles($event)">
    </form>
    <mat-icon>file_upload</mat-icon>
    <span>Upload a File</span>
  </button>
</div>
