section {
  background: #fafafa !important;
  min-height: 100%;
  overflow-y: auto;

  mat-card {
    margin: 30px 10px;
    padding: 0 !important;
    &:hover {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .24), 0 1px 5px 0 rgba(0, 0, 0, .22);
    }

    &.box {
      mat-card-content {
        > h2 {
          font-size: 16px;
          color: rgba(0, 0, 0, .987);
          margin: 0 0 16px;
          font-weight: bold;
          line-height: 20px;
        }

        p.subtitle {
          font-weight: bold;
          margin-bottom: 3px;
          mat-icon {
            vertical-align: -4px;
            margin-right: 0px;
            font-size: 18px;
          }
        }

        ul + p.subtitle {
          margin-top: 20px;
        }

        p.subtitle + ul {
          margin-left: 28px;
        }

        font-size: 14px;
        word-wrap: break-word;
        color: rgba(0, 0, 0, .654);
        padding: 26px 50px 10px;

        ul {
          padding: 0;
          margin: 0;

          li {
            padding: 4px 0 8px;
            overflow: hidden;
            text-overflow: ellipsis;

            a {
              color: gray;
              white-space: nowrap;
            }

            mat-progress-bar {

            }
          }
        }
      }
    }

    &.list {
      mat-card-content {
        > h2 {
          font-size: 14px;
          margin: 0;
          padding: 14px 20px;
          color: rgba(0, 0, 0, .987);
          font-weight: bold;
          line-height: 20px;
        }

        font-size: 14px;
        word-wrap: break-word;
        color: rgba(0, 0, 0, .654);
        padding: 0;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            border-top: 1px solid #e7e7e7;
            color: rgba(0, 0, 0, .654);
            height: 24px;
            padding: 10px 20px;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              a {
                text-decoration: underline;
              }
            }

            a {
              color: rgba(0, 0, 0, .654);
              font-size: 13px;
              text-decoration: none;
              white-space: nowrap;

              mat-icon {
                vertical-align: -8px;
                margin-right: 8px;
                opacity: 0.67;
              }
            }
          }
        }

      }
    }

    &.primary {
      background: #286bda;

      mat-card-content {
        > h2 {
          color: #fff;
        }
        color: #eee;
      }

      mat-card-actions {
        ul li {
          border-top-color: #286bda;
          color: #eee;
        }
      }
    }

    mat-card-actions {
      padding: 0 !important;
      margin: 0 !important;
      cursor: pointer;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          border-top: 1px solid #dedede;
          color: rgba(0, 0, 0, .654);
          height: 24px;
          padding: 10px 20px;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            span {
              font-weight: bold;
            }
          }

          mat-icon {
          }
          span {
            vertical-align: 8px;
            font-size: 13px;
            margin-left: 8px;
            white-space: nowrap;
          }
        }
      }
    }

  }
}
