<mat-toolbar class="mlt-toolbar">
  <span>Histories</span>
</mat-toolbar>

<div class="mlt-mainbody">
<section>
  <h2>Histories of workspace</h2>
  <p>Whole transactions of workspace are being recorded.</p>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Process" (keyup)="getAllHistories(0)" [(ngModel)]="inputSearch">
  </mat-form-field>

  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [disabled]="action.disabled">
    <mat-icon [ngClass]="getClassName(action)">{{action.icon}}</mat-icon>
    <span [ngClass]="getClassName(action)">{{action.text}}</span>
  </button>

  <app-table class="mlt-table" #tableComponent [headers]="header" [rows]="histories"
             [dataSource]="dataSource" [length]="pageLength"
             (outputPaginator)="setPage($event)"
             (outputSelectedHeader)="setSort($event)"
             (outputCheckedRow)="isChecked($event)">
  </app-table>
</section>
</div>
