  <mat-toolbar class="mlt-toolbar">
    <div>
      <a class="toolbar-title">
        Profile
      </a>
    </div>
    <button mat-raised-button color="primary" (click)="goBack()">Back</button>
  </mat-toolbar>

  <div class="mlt-mainbody">
  <mat-list class="profile-content">
    <h2>Account</h2>
    <p>Your accout information.</p>
    <mat-card class="profile-detail">
      <mat-list-item>
        <h3 mat-line>Id</h3>
        <p mat-line> {{user.id}}</p>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>Username</h3>
        <p mat-line> {{user.username}}</p>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>Role</h3>
        <p mat-line> {{roleName}} </p>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>CreatedAt</h3>
        <p mat-line> {{createdAt}} </p>
      </mat-list-item>
    </mat-card>
    <mat-divider></mat-divider>
    <h3>Update Password</h3>
    <p>Can update your password.</p>
    <mat-card>
      <mat-list-item  class="input-field">
        <mat-form-field>
          <input matInput type="password" placeholder="Current Password" [formControl]="currentPasswordForm" [(ngModel)]="currentPassword" required>
          <mat-error class="error-msg" *ngIf="currentPasswordForm.invalid">
            {{getCurrentPasswordErrorMessage()}}
          </mat-error>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item  class="input-field">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [formControl]="changedPasswordForm"  [(ngModel)]="changedPassword" required>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item  class="input-field">
        <mat-form-field>
          <input matInput type="password" placeholder="Confirmation" [formControl]="passwordConfirm" [(ngModel)]="changedPasswordConfirm" (focusout)="checkPassword()" required>
          <mat-error class="error-msg" *ngIf="passwordConfirm.invalid">
            {{getPasswordConfirmErrorMessage()}}
          </mat-error>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item class="update-btn">
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!((currentPasswordForm.valid)&&(changedPasswordForm.valid)&&(passwordConfirm.valid))">Update</button>
      </mat-list-item>
    </mat-card>
  </mat-list>
</div>
