.mlt-toolbar {
  background-color: #ffffff;
  border-bottom: 1.1px solid #d3d3d3;
  justify-content: space-between;
  margin-top: 1px;
}

.mlt-mainbody {
  .profile-content{
    padding: 20px;
    padding-top:0px;
    .profile-detail {
      padding-top:0px;
    }
    .input-field {
      margin-bottom:20px;
    }
    .update-btn {
      margin-top:20px;
    }
  }
}

