//.mlt-toolbar {
//  background-color: white;
//  border-bottom: 1.1px solid #d3d3d3;
//  margin-top: 1px;
//}

.mlt-mainbody .content-card {
  box-shadow: none !important;
}

.mlt-mainbody .content-card .left {
  float: left;
  width: 20%;
}

.mlt-mainbody .content-card .left .role-list {
  width: 80%;
  height: 600px;
  margin-right: 10px;
  overflow-y: auto;
}

.mlt-mainbody .content-card .left .role-list .role {
  border: 1px solid #d3d3d3;
  margin-right: 10px;
  cursor: pointer;
  .role-name {
    width: 90%;
  }
  .delete-icon {
    float: right;
    color: #2979ff;
  }
}

.mlt-mainbody .content-card .left .selected {
  background-color: #c1d9ff;
}

.mlt-mainbody .content-card .right {
  float: left;
  height: 800px;
  overflow-y: auto;
  width: 80%;
}


.mlt-mainbody .content-card .right .select-box-left {
  width: 10%;
  font-size: 15px;
  padding-right: 10px;
  padding-top: 5px;
}

.mlt-mainbody .content-card .right .select-box-right {
  width: 7%;
  font-size: 15px;
  padding-right: 10px;
  padding-top: 5px;
}

.mlt-mainbody .content-card .right .menu-list-table {
  //width:800px;
  height: 560px;
  overflow-y: auto;
  .checkbox-column{
    flex: 0 0 75px;
  }
}

.menu-role-save-btn {
  width:100px;
  margin:0 0 0 auto;
}

.mlt-mainbody .content-card .right .menu-list-table-paginator {
  display: block;
  //width:800px;
}

