  <mat-toolbar class="mlt-toolbar">
    Role Management
  </mat-toolbar>

  <div class="mlt-mainbody">
  <mat-card class="content-card">
    <div class="left">
      <mat-card-title>Role</mat-card-title>
      <mat-list class="role-list">
        <ng-container *ngFor="let role of roles">
          <ng-container *ngIf="role.id === selectedRole">
            <mat-list-item class="role selected" (click)="getMenuIdByRoleId(role.id)">
              <span class="role-name" >{{role.roleName}}</span>
              <ng-container *ngIf="role.userCount == 0">
                <mat-icon class="delete-icon" (click)="deleteRole(role)" >delete</mat-icon>
              </ng-container>
            </mat-list-item>
          </ng-container>
          <ng-container *ngIf="role.id !== selectedRole">
            <mat-list-item class="role" (click)="getMenuIdByRoleId(role.id)">
              <span class="role-name" >{{role.roleName}}</span>
              <ng-container *ngIf="role.userCount == 0">
                <mat-icon class="delete-icon" (click)="deleteRole(role)" color="primary">delete</mat-icon>
              </ng-container>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-list>

      <div>
        <mat-form-field floatLabel="never">
          <input matInput [(ngModel)]="role" [formControl]="addRoleInput" placeholder="Role" required>
          <mat-error *ngIf="addRoleInput.invalid">
            {{getErrorMessage()}}
          </mat-error>
        </mat-form-field>
        <button mat-button (click)="addRole()">
          <mat-icon color="primary">add_circle_outline</mat-icon>
          <span style="color: #2979ff;">Add</span>
        </button>
      </div>
    </div>

    <div class="right">
      <mat-card-title>Menu</mat-card-title>
      <mat-table class="menu-list-table" [dataSource]="dataSource" matSort>
        <!-- No Column -->
        <ng-container *ngFor="let col of header;">
          <ng-container [matColumnDef]="col.attr">
            <ng-container *ngIf="col.attr === 'checkbox'">
              <mat-header-cell *matHeaderCellDef class="checkbox-column"><mat-checkbox [(ngModel)]="isCheckedAll" (change)="onClickCheckAll()" color="accent"></mat-checkbox><div [style.height]="'1px'"></div></mat-header-cell>
              <mat-cell *matCellDef="let row" class="checkbox-column"><mat-checkbox [(ngModel)]="row.isChecked" color="accent"></mat-checkbox><div [style.height]="'1px'"></div></mat-cell>
            </ng-container>
            <ng-container *ngIf="col.attr !== 'checkbox'">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{col.name}}</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row[col.attr]}}</mat-cell>
            </ng-container>
          </ng-container>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getColumn(header)"></mat-header-row>
        <mat-row style="height:35px !important;" *matRowDef="let row; columns: getColumn(header)">
        </mat-row>
      </mat-table>
      <mat-list role="list">
        <mat-list-item>
          <div class="menu-role-save-btn">
            <button  mat-button (click)="updateMenuRole()">
              <mat-icon color="primary">save</mat-icon>
              <span style="color: #2979ff;">Save</span>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-paginator class="menu-list-table-paginator" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">></mat-paginator>

    </div>
  </mat-card>
</div>
