.mlt-toolbar {
  background-color: #ffffff;
  border-bottom: 1.1px solid #d3d3d3;
  justify-content: space-between;
  margin-top: 1px;
}

.mlt-mainbody {

  .upsert-content {
    padding-top: 24px;
    padding-left: 24px;

    .input-field {
      margin-bottom: 20px;
    }
    .error-msg{
      font-size: 10px;
    }

    .mat-radio-button ~ .mat-radio-button {
      padding-right: 16px;
    }
    .upsert-buttons {
      margin-top:30px;
      button {
        margin-right: 20px;
      }
    }
  }
}
