  <mat-toolbar class="mlt-toolbar">
    <div>
      <a class="toolbar-title">
        <ng-container *ngIf="role === 'add'">
          Add User
        </ng-container>
        <ng-container *ngIf="role === 'edit'">
          Edit User
        </ng-container>
      </a>
    </div>
    <button mat-raised-button color="primary" (click)="goBack()">Back to List</button>
  </mat-toolbar>

  <div class="mlt-mainbody">
  <mat-list class="upsert-content">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <mat-list-item  class="input-field">
          <ng-container *ngIf="role === 'edit'">
            <mat-form-field>
            <input matInput type="text" placeholder="Id" name="user.id" value="{{user.id}}" disabled required>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="role === 'add'">
            <mat-form-field>
            <input matInput type="text" placeholder="Id" [formControl]="addIdInput" (focusout)="checkIdExist()" name="user.id" [(ngModel)]="user.id" required>
            <mat-error class="error-msg" *ngIf="addIdInput.invalid">
              {{getErrorMessage()}}
            </mat-error>
            </mat-form-field>
          </ng-container>
      </mat-list-item>

      <mat-list-item  class="input-field">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="user.password" [(ngModel)]="user.password" required>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item  class="input-field">
        <mat-form-field>
          <input matInput type="text" placeholder="Username" name="user.username" [(ngModel)]="user.username" required>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item  class="input-field">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" name="user.email" [(ngModel)]="user.email" required>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item><h3>Role</h3></mat-list-item>
      <mat-list-item>

        <mat-radio-group name="user.roleId" [(ngModel)]="user.roleId" required>
          <mat-radio-button *ngFor="let role of roleList" [value]="role.id">{{role.roleName}}</mat-radio-button>
        </mat-radio-group>
      </mat-list-item>
      <mat-list-item><h3>Account status</h3></mat-list-item>
      <mat-list-item>

        <mat-radio-group name="user.activated" [(ngModel)]="user.activated" required>
          <mat-radio-button value="1">Activated</mat-radio-button>
          <mat-radio-button value="0">Deactivated</mat-radio-button>
        </mat-radio-group>
      </mat-list-item>

      <mat-list-item class="upsert-buttons">
        <button mat-raised-button color="primary" type="submit" [disabled]="!((f.form.valid) && (!addIdInput.hasError('duplicate')))">
          {{role === 'add' ? 'Add':'Edit'}}
        </button>
        <button mat-raised-button color="primary" type="button" (click)="goBack()">Cancel</button>
      </mat-list-item>
    </form>
  </mat-list>
</div>
