  <mat-toolbar class="mlt-toolbar">
    <a class="toolbar-title">Users</a>
  </mat-toolbar>

  <div class="mlt-mainbody">

  <section class="content-card">
   <h2>Manage Users</h2>
    <p class="content-card-subtitle">Add users and update information about users.</p>
    <div class="example-header">
      <mat-form-field floatLabel="never">
        <input matInput [(ngModel)]="keyword" placeholder="Search..">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getList()">Search</button>
      <button mat-button *ngFor="let action of actionsArray" [hidden]="action.hidden" [disabled]="action.disabled"
              (click)="doAction(action.type)">
        <mat-icon color="primary">{{action.icon}}</mat-icon>
        <span style="color: #2979ff">{{action.text}}</span>
      </button>
    </div>
    <div fxLayout="row">
      <div fxFlex>
        <app-table class="management-user-list" #lineTableComponent [headers]="header"
                   [rows]="users"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputSelectedRow)="editUser($event)"
                   (outputPaginator)="setPage($event)">
        </app-table>
      </div>
    </div>
  </section>
  </div>
