.mlt-table {
  overflow-y: auto;
}

.mlt-table {
  .accent-button {
    color: #f44336;
  }
  .primary-button {
    color: #2979ff;
  }
}

.mlt-table .mlt-input {
  margin-left: 0px !important;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-bottom: 0;
  text-indent: 8px;
  text-overflow: ellipsis;

  color: #222;
  font-size: 13px;
  background-color: #fff;
  display: block;
  height: 25px;
  line-height: 27px;
  width: 90%;

  &:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &.ng-invalid.ng-touched {
    border-color: rgb(221, 75, 57);
  }

}

.mat-row {
  min-height: 35px !important;
  height: 100% !important;
}
