<mat-table class="mlt-table" [dataSource]="dataSource" matSort>
  <ng-container *ngFor="let col of headers;">
    <ng-container [matColumnDef]="col.attr">
      <ng-container>

        <div *ngIf="col.checkbox">
          <mat-header-cell *matHeaderCellDef [fxFlex]=" col.width || '3%'">
            <mat-checkbox [(ngModel)]="isCheckedAll" (change)="onClickCheckAll()"></mat-checkbox>
            <div [style.height]="'1px'"></div>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [fxFlex]="col.width || '3%'">
            <mat-checkbox [(ngModel)]="row.isChecked" (change)="isChecked()"></mat-checkbox>
            <div [style.height]="'1px'"></div>
          </mat-cell>
        </div>

        <div *ngIf="col.no">
          <mat-header-cell *matHeaderCellDef fxFlex="5%">No.</mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="5%">{{getAttr(row, col.attr)}}</mat-cell>
        </div>


        <ng-container
          *ngIf="(!col.checkbox) && (!col.isButton) && (!col.input) && (!col.template) && (!col.no)">
          <ng-container *ngIf="col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''" mat-sort-header
                             (click)="onClickHeader()">{{col.name}}
            </mat-header-cell>
          </ng-container>
          <ng-container *ngIf="!col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''">{{col.name}}
            </mat-header-cell>
          </ng-container>
          <mat-cell *matCellDef="let row" [fxFlex]="col.width || ''">
            <ng-container *ngIf="col.format === 'date'">{{getAttr(row, col.attr) | date:'yyyy-MM-dd hh:mm a'}}
            </ng-container>
            <ng-container *ngIf="col.format === 'file'">{{getAttr(row, col.attr) | fileSize}}
            </ng-container>
            <ng-container *ngIf="col.format === 'time'">{{getAttr(row, col.attr) | secondsToTime}}
            </ng-container>
            <ng-container *ngIf="col.format === undefined">
              <ng-container *ngIf="!col.onClick">
                <span style="white-space: pre-line">{{getAttr(row, col.attr)}}</span>
              </ng-container>
              <ng-container *ngIf="col.onClick">
                <span style="white-space: pre-line; cursor:pointer; color:#2979ff;"
                      (click)="colClick(row)">{{getAttr(row, col.attr)}}</span>
              </ng-container>
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="col.isButton">
          <ng-container *ngIf="col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''" mat-sort-header
                             (click)="onClickHeader()">{{col.name}}
            </mat-header-cell>
          </ng-container>
          <ng-container *ngIf="!col.isSort">
            <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''">{{col.name}}
            </mat-header-cell>
          </ng-container>
          <mat-cell *matCellDef="let row" [fxFlex]="col.width || ''">
            <button mat-button (click)="colClick(row)">
              <span *ngIf="row.buttonName === undefined"
                    [ngClass]="getButtonClass(col.buttonColor)">{{col.buttonName}}</span>
              <span *ngIf="row.buttonName !== undefined"
                    [ngClass]="getButtonClass(row.buttonColor)">{{row.buttonName}}</span>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="col.input">
          <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''">{{col.name}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [fxFlex]="col.width || ''">
            <input class="mlt-input" [value]="getAttr(row, col.attr)"
                   (change)="changeInput($event, row, col.attr)">
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="col.template">
          <mat-header-cell *matHeaderCellDef [fxFlex]="col.width || ''">{{col.name}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [fxFlex]="col.width || ''">
            <template [ngTemplateOutlet]="col.template"
                      [ngTemplateOutletContext]="{row: row}"></template>
          </mat-cell>
        </ng-container>

      </ng-container>
    </ng-container>
  </ng-container>

  <mat-header-row *matHeaderRowDef="getColumn(headers)"></mat-header-row>
  <mat-row *matRowDef="let row ; columns: getColumn(headers)">
  </mat-row>
</mat-table>

<mat-paginator *ngIf="isShowPaginator"
               #paginator
               [pageSize]="10"
               [pageIndex]=pageIndex
               [pageSizeOptions]="[10, 20, 25, 100]"
               [length]="length"
               (page)="onChangePaginator()">
</mat-paginator>
