<mat-toolbar class="mlt-toolbar">
  <span>BasicQA Items</span>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Skill" [(ngModel)]="selectedSkill" (change)="getNextPage()"
                (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let skill of filteredBasicQASkillList | async" [value]="skill.id">
        {{ skill.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button *ngFor="let action of skillActionsArray" (click)="doAction(action)"
          [hidden]="action.hidden" [disabled]="action.disabled">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section [hidden]="selectedSkill != 0">
    <p>Select skill first.</p>
  </section>

  <section [hidden]="selectedSkill == 0">
    <p>Edit dataset used in Basic QA Indexing.</p>

    <div class="item-option-first">
      <!-- 채널 -->
      <mat-form-field class="select-box-left">
        <mat-select placeholder="Channel" [(ngModel)]="selectedCategory1"
                    (valueChange)="clearSelectOption('selectedCategory', 0)">
          <mat-option *ngFor="let cate of contextCate; let i = index;" [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- 대분류 -->
      <mat-form-field class="select-box-left">
        <mat-select placeholder="Category" [(ngModel)]="selectedCategory2"
                    (valueChange)="clearSelectOption('selectedCategory', 1)">
          <mat-option *ngFor="let cate of selectedCategory1.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- 중분류 -->
      <mat-form-field class="select-box-left">
        <mat-select placeholder="SubCategory1" [(ngModel)]="selectedCategory3"
                    (valueChange)="clearSelectOption('selectedCategory', 2)">
          <mat-option *ngFor="let cate of selectedCategory2.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- 소분류 -->
      <mat-form-field class="select-box-left">
        <mat-select placeholder="SubCategory2" [(ngModel)]="selectedCategory4">
          <mat-option *ngFor="let cate of selectedCategory3.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- 채널, 대분류, 중분류, 소분류 종료 -->
    </div>

    <div class="item-option-second">
      <mat-form-field style="width:80px;">
        <mat-select placeholder="Use" [(ngModel)]="useYn">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let useYn of appEnum.useYnCodeKeys" [value]="useYn">
            {{appEnum.useYnCode[useYn]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width:80px;">
        <mat-select placeholder="Main" [(ngModel)]="mainYn">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let mainYn of appEnum.mainYnCodeKeys" [value]="mainYn">
            {{appEnum.mainYnCode[mainYn]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width:150px; margin-right: 10px;">
        <input matInput [(ngModel)]="searchSrc" placeholder="Src">
      </mat-form-field>

      <mat-form-field style="width:200px; margin-right: 10px;">
        <textarea autoresize matInput [(ngModel)]="searchQuestion" rows="1" placeholder="Question"></textarea>
      </mat-form-field>

      <mat-form-field style="width:200px; margin-right: 10px;">
        <textarea autoresize matInput [(ngModel)]="searchAnswer" rows="1" placeholder="Answer"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onClickSearchButton(0)">Search</button>

    </div>

    <div class="item-option-third">
      <button mat-button color="primary" *ngFor="let action of actionsArray"
              (click)="doAction(action)"
              [hidden]="action.hidden">
        <mat-icon class="color">{{action.icon}}</mat-icon>
        <span class="color">{{action.text}}</span>
      </button>
      <!-- Upload a File -->
      <app-uploader-button [url]="'/basicqa/item/'+selectedSkill+'/upload-files'" #uploader
                           (preUploadCallback)=confirmUpload()
                           (uploadCallback)=onUploadFile()></app-uploader-button>
      <!-- Download a File -->
      <button mat-button color="accent"
              (click)="downloadFile()">
        <mat-icon class="color">file_download</mat-icon>
        <span class="color">Download a File</span>
      </button>
    </div>

    <!-- BSQA Item List 출력 -->
    <div fxLayout="row">
      <div fxFlex>
        <app-table class="mlt-table" #lineTableComponent [headers]="header" [rows]="basicQAItemList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputSelectedRow)="popUpsertDialog('edit',$event)"
                   (outputSelectedHeader)="search($event)"
                   (outputPaginator)="setPage($event)">
        </app-table>
      </div>
    </div>
  </section>
</div>
