<section style="width:500px;">
  <header>
    <h2 *ngIf="role =='edit'">Update BasicQA Paraphrase Words</h2>
    <h2 *ngIf="role == 'add'">Add BasicQA Paraphrase Words</h2>
  </header>

  <main>
    <section style="width:100%">
      <mat-form-field style="width:60%">
        <input matInput placeholder="MainWord" [(ngModel)]="item.word" rows="1"
               [formControl]="mainWordValidator" required
               (keyup)="checkInvalid($event)">
        <mat-error *ngIf="mainWordValidator.invalid">
          <ng-container *ngIf="mainWordValidator.getError('duplicate')">
            Already exist in MainWord or Word
          </ng-container>
          <ng-container *ngIf="!mainWordValidator.getError('duplicate')">
            Enter Value
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-radio-group style="width:40%" name="user.activated" [(ngModel)]="item.useYn"
                       [formControl]="useYnValidator"
                       (change)="checkInvalid($event)" required>
        <mat-radio-button value="Y">Use</mat-radio-button>
        <mat-radio-button value="N">Not Use</mat-radio-button>
      </mat-radio-group>
    </section>

    <section style="width:100%">
      <mat-form-field style="width:60%">
        <input matInput placeholder="Word" [(ngModel)]="word" rows="1"
               (keyup)="checkInvalid($event)" [formControl]="wordValidator">
        <mat-error *ngIf="wordValidator.invalid">
          <ng-container *ngIf="wordValidator.getError('duplicate')">
            Already exist in MainWord
          </ng-container>
          <ng-container *ngIf="!wordValidator.getError('duplicate')">
            Enter Value
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-icon color="primary" style="cursor: pointer" (click)="addWordToList()">
        add_circle_outline
      </mat-icon>
    </section>

    <section style="width:100%;">
      <h4>Word List</h4>
      <mat-list style="height:350px; overflow:scroll; overflow-x:hidden;">
        <ng-container *ngFor="let wordEntity of wordEntities">
          <mat-list-item>
            <div style="width:95%">
              {{wordEntity.word}}
            </div>
            <div style="width:5%">
              <mat-icon color="primary" style="cursor: pointer" (click)="deleteRel(wordEntity)">
                remove_circle_outline
              </mat-icon>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </section>
  </main>
  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
    <button *ngIf="role =='edit'" mat-button color="warn" type="button" (click)="removeItem()">
      Remove
    </button>
    <button *ngIf="role =='edit'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="updateItem()">Edit
    </button>
    <button *ngIf="role =='add'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="addItem()">Add
    </button>
  </footer>
</section>
