<mat-toolbar class="mlt-toolbar">
  <span>BasicQA Parapharse Words</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <p>Edit paraphrase words used in Basic QA</p>
    <mat-form-field>
      <mat-select placeholder="Use" [(ngModel)]="useYn">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let useYn of appEnum.useYnCodeKeys" [value]="useYn">
          {{appEnum.useYnCode[useYn]}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width:200px; margin-right: 10px;">
      <input matInput [(ngModel)]="searchMainWord" placeholder="MainWord">
    </mat-form-field>

    <mat-form-field style="width:200px; margin-right: 10px;">
      <input matInput [(ngModel)]="searchWords" placeholder="Words">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onClickSearchButton(0)">Search</button>
    <button mat-button color="primary" *ngFor="let action of actionsArray"
            (click)="doAction(action)"
            [hidden]="action.hidden">
      <mat-icon class="color">{{action.icon}}</mat-icon>
      <span class="color">{{action.text}}</span>
    </button>
    <app-uploader-button [url]="'/basicqa/paraphrase/upload-files'" #uploader
                         (preUploadCallback)=confirmUpload()
                         (uploadCallback)=onUploadFile()></app-uploader-button>

    <button mat-button color="accent"
            (click)="downloadFile()">
      <mat-icon class="color">file_download</mat-icon>
      <span class="color">Download a File</span>
    </button>

    <div fxLayout="row">
      <div fxFlex>
        <app-table class="mlt-table" #tableComponent [headers]="header"
                   [rows]="basicQAMainWordList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputSelectedRow)="popUpsertDialog('edit',$event)"
                   (outputSelectedHeader)="search($event)"
                   (outputPaginator)="setPage($event)">
        </app-table>
      </div>
    </div>
  </section>
</div>
