<mat-toolbar class="mlt-toolbar">
  <span>BasicQA Question</span>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Skill" [(ngModel)]="selectedSkill"
                (change)="changeSkill()" (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let skill of filteredSkillList | async" [value]="skill">
        {{ skill.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div class="mlt-mainbody">
  <!-- 스킬 미 선택시 -->
  <section *ngIf="!selectedSkill">
    <p *ngIf="!selectedSkill">Select skill first.</p>
  </section>
  <!-- 스킬 미 선택시 -->

  <!-- 스킬 선택시 -->
  <section *ngIf="selectedSkill">
    <h2>Analyze text with BasicQA Question</h2>
    <p>Provide text to test BasicQA Indexing with {{selectedSkill.name}}</p>

    <div>
      <div class="bqa-question-left-data">
        <mat-icon color="primary">star_rate</mat-icon>
        <span>Requirement</span>
      </div>
      <!-- answer count(nTop) 설정 -->
      <div class="bqa-question-right-data">
        <mat-form-field class="bqa-question-ntop" matTooltip="NTOP is Answer count." matTooltipPosition="after">
          <input matInput placeholder="NTOP" type="number" [(ngModel)]="nTop"
                 min="1" [formControl]="nTopFormControl" class="input-ntop">
          <mat-error *ngIf="nTopFormControl.hasError('required')">
            NTOP is <strong>required.</strong>
          </mat-error>
          <mat-error *ngIf="!nTopFormControl.hasError('required') &&
          nTopFormControl.hasError('negativeInteger')">
            NTOP must be greater than zero.<strong></strong>
          </mat-error>
        </mat-form-field>
        <!-- answer count(nTop) 설정 -->
      </div>
    </div>


    <div>
      <div class="bqa-question-left-data">
        <mat-icon color="primary">highlight</mat-icon>
        <span>Options</span>
      </div>
      <div class="bqa-question-right-data">
        <!-- Option : category 설정 -->
        <mat-form-field class="category-select">
          <mat-select placeholder="Channel" [(ngModel)]="selectedCategory1"
                      (valueChange)="clearSelectOption('selectedCategory', 0)">
            <mat-option *ngFor="let cate of contextCate; let i = index;" [value]="cate">
              {{ cate.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- 대분류 -->
        <mat-form-field class="category-select">
          <mat-select placeholder="Category" [(ngModel)]="selectedCategory2"
                      (valueChange)="clearSelectOption('selectedCategory', 1)">
            <mat-option *ngFor="let cate of selectedCategory1?.children;" [value]="cate">
              {{ cate.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- 중분류 -->
        <mat-form-field class="category-select">
          <mat-select placeholder="SubCategory1" [(ngModel)]="selectedCategory3"
                      (valueChange)="clearSelectOption('selectedCategory', 2)">
            <mat-option *ngFor="let cate of selectedCategory2?.children;" [value]="cate">
              {{ cate.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- 소분류 -->
        <mat-form-field class="category-select">
          <mat-select placeholder="SubCategory2" [(ngModel)]="selectedCategory4">
            <mat-option *ngFor="let cate of selectedCategory3?.children;" [value]="cate">
              {{ cate.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Option : category 설정 -->

        <button mat-raised-button (click)="clearChannel()" color="primary">
          <mat-icon>refresh</mat-icon>
          <span>Clear</span>
        </button>
      </div>
    </div>

    <!-- Text 데이터 입력 -->
    <mat-card>
      <mat-card-content>
        <div class="label">Text</div>
        <mat-form-field floatLabel="never"
                        class="mlt-text-area-field">
            <textarea matInput placeholder="&nbsp;Enter text.."
                      class="mlt-text-area" [(ngModel)]="textData"></textarea>
        </mat-form-field>
      </mat-card-content>

      <div class="rolling" [hidden]="!loading" style="height:30px"></div>
      <mat-card-actions class="gray" [hidden]="loading">
        <button mat-raised-button color="primary" type="submit"
                (click)="question()"
                [disabled]="!nTopFormControl.valid || !selectedSkill || !textData">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
    <!-- Text 데이터 입력 -->

    <!-- 서버에서 응답 받은 결과 -->
    <div [hidden]="!result" label="Result">
      <div class="test-result">
        <pre [innerHTML]="result | prettyjson"></pre>
      </div>
    </div>
    <!-- 서버에서 응답 받은 결과 -->

  </section>
  <!-- 스킬 선택시 -->
</div>
