/*
.basicqa-items .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.basicqa-items .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}

#periodAddButton, #hourAddButton, #minuteAddButton {
  margin-right: 30px;

}

.content {
  margin-left: 25px;
  margin-top: 30px;

}

#indexingButton {
  margin-bottom: 40px;
}

.content-title {
  margin-top: 15px;
  margin-bottom: 15px;

}

.schedule .toolbar {
  background-color: #ffffff;
  border-bottom: 1.1px solid #d3d3d3;
  justify-content: space-between;
  margin-top: 1px;
}

.content-title {
  font-weight: 600;
  font-size: 24px;
}

.schedule-list {
  margin-top: 20px;
  margin-bottom: 30px;

}

.container {
  width: 1000px;

}

.period-list {
  margin-right: 50px;

}

.select-period-list {
  margin-top: 20px;
  margin-right: 20px;

}

.select-day, .select-hour, .select-minute {
  width: 10%;

}

.mat-table {
  overflow: auto;
  max-height: 400px;
  width: 1000px;
}
*/

.select-search-form {
  height:42px;
  padding-left: 10px;
  .select-search-form-input {
    height: 100%;
  }
}

