.signin input {
    display: block;
    &.inline {
      vertical-align: middle;
      display: inline-block;
    }
    &.large {
      width: 100%;
      .input {
        max-width: 100%;
      }

      &.large-pr {
        .input {
          max-width: calc(100% - 10px);
          max-width: -webkit-calc(100% - 10px);
          max-width: -moz-calc(100% - 10px);
        }
      }
    }
}

.signin .id-form-field {
  margin-bottom: 8px;
}

.signin .mat-form-field {
  width: 296px;
}
