<!-- Sign-In Component -->
<form class="signin">
  <mat-card>
    <mat-card-content>
      <div>
        <mat-form-field [floatPlaceholder]="'always'" class="id-form-field">
          <input matInput required placeholder="ID"
                 [formControl]="idFormControl" [(ngModel)]="auth.id"
                 [errorStateMatcher]="matcher" (keyup)="validation()">
          <mat-error *ngIf="idFormControl.hasError('required')">
            Id <strong>required.</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field [floatPlaceholder]="'always'">
          <input matInput required placeholder="Password" type="password"
                 [formControl]="pwdFormControl" [(ngModel)]="auth.password"
                 [errorStateMatcher]="matcher" (keyup)="validation()">
          <mat-error *ngIf="pwdFormControl.hasError('required')">
           Pwd <strong>required.</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions class="gray">
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="signin()" [disabled]="submitButton">
          Sign-In
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
