<div class="auth" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex></div>
  <div fxFlex="none">
    <div class="brand-logo"></div>
    <router-outlet></router-outlet>
  </div>
  <div fxFlex></div>
</div>