.auth {
  background-color: #fff;
  min-height: 100vh;
  padding: 50px 0;
  background-image: url("/assets/img/auth-footer.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: auto 230px;
  background-attachment: fixed;

  .brand-logo {
    height: 160px;
    background: url(/assets/img/MLT.png) no-repeat center center;
    background-size: 240px auto;
    min-width: 350px;
  }
}
