#waveSurfer {
  min-height: 128px;
  overflow-x: hidden !important;
}

#waveSurfer-timeline {
  min-height: 20px;
  overflow-x: hidden !important;
}

#waveSurfer-tools {
  margin-top: 8px;
  text-align: center;
  cursor: default;
  > div {
    display: inline-block;
    margin: 0 7px;
  }

  .volume {
    mat-icon {
      vertical-align: -8px;
    }
    mat-slider {
      .mat-slider-track-fill, .mat-slider-thumb {
        background-color: #f47f36;
      }
    }
  }

  .range {
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
  }

  .rate {
    button.current {
      color: #f47f36;
    }
  }
}
