<mat-toolbar class="mlt-toolbar">
  <span>Category</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <mat-card class="content-card">
    <div fxFlex="100%" fxLayout="column" fxLayoutAlign="left top">
      <mat-form-field class="select-box" floatLabel="never">
        <mat-select placeholder="Source" [(ngModel)]="selectedSource" (change)="changeSource()">
          <mat-option *ngFor="let source of sourceList" [value]="source">
            {{source}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div fxFlex="80%" fxLayout="row" fxLayoutAlign="center top" class="category-body">
        <div fxFlex="25%">
          <div class="button-line">
            <mat-form-field floatLabel="never" class="category-input">
              <input matInput placeholder="Category1" [(ngModel)]="inputCategory[0]"
                     [errorStateMatcher]="matcher" [formControl]="cat1formControl">
            </mat-form-field>
            <ng-container *ngIf="selectedCategory[0] == null">
              <button mat-raised-button color="primary" (click)="addCategory(1)">Add</button>
            </ng-container>
            <ng-container *ngIf="selectedCategory[0] != null">
              <button mat-raised-button color="primary"
                      (click)="openConfirmDialog(1, 'edit', null)">Edit
              </button>
            </ng-container>
          </div>
          <button mat-button class="category-refresh" (click)="refresh(1)">
            <span>Reset</span>
            <mat-icon>refresh</mat-icon>
          </button>
          <mat-list class="category-list">
            <mat-list-item *ngFor="let category1 of categoryList[0] let i = index;"
                           class="category" (click)="getCategory(1, category1, i)" name="category1">
              <div class="category-name">{{category1.catName}}</div>
              <ng-container *ngIf="isDelete(category1)">
                <mat-icon style="color: #2979ff;"
                          (click)="openConfirmDialog(1, 'delete', category1)">delete
                </mat-icon>
              </ng-container>
            </mat-list-item>
          </mat-list>
        </div>

        <div fxFlex="25%">
          <div class="button-line">
            <mat-form-field floatLabel="never" class="category-input">
              <input matInput placeholder="Category2" [(ngModel)]="inputCategory[1]"
                     [errorStateMatcher]="matcher" [formControl]="cat2formControl">
            </mat-form-field>
            <ng-container
              *ngIf="selectedCategory[0] != null && selectedCategory[1] == null">
              <button mat-raised-button color="primary" (click)="addCategory(2)">Add</button>
            </ng-container>
            <ng-container *ngIf="selectedCategory[1] != null">
              <button mat-raised-button color="primary"
                      (click)="openConfirmDialog(2, 'edit', null)">Edit
              </button>
            </ng-container>
          </div>
          <button mat-button class="category-refresh" (click)="refresh(2)">
            <span>Reset</span>
            <mat-icon>refresh</mat-icon>
          </button>
          <mat-list class="category-list">
            <mat-list-item *ngFor="let category2 of categoryList[1]; let i = index;"
                           class="category" (click)="getCategory(2, category2, i)" name="category2">
              <div class="category-name">{{category2.catName}}</div>
              <ng-container *ngIf="isDelete(category2)">
                <mat-icon style="color: #2979ff;"
                          (click)="openConfirmDialog(2, 'delete', category2)">delete
                </mat-icon>
              </ng-container>
            </mat-list-item>
          </mat-list>
        </div>

        <div fxFlex="25%">
          <div class="button-line">
            <mat-form-field floatLabel="never" class="category-input">
              <input matInput placeholder="Category3" [(ngModel)]="inputCategory[2]"
                     [errorStateMatcher]="matcher" [formControl]="cat3formControl">
            </mat-form-field>
            <ng-container
              *ngIf="selectedCategory[1] != null && selectedCategory[2] == null">
              <button mat-raised-button color="primary" (click)="addCategory(3)">Add</button>
            </ng-container>
            <ng-container *ngIf="selectedCategory[2] != null">
              <button mat-raised-button color="primary"
                      (click)="openConfirmDialog(3, 'edit', null)">Edit
              </button>
            </ng-container>
          </div>
          <button mat-button class="category-refresh" (click)="refresh(3)">
            <span>Reset</span>
            <mat-icon>refresh</mat-icon>
          </button>
          <mat-list class="category-list">
            <mat-list-item *ngFor="let category3 of categoryList[2]; let i = index;"
                           class="category" (click)="getCategory(3, category3, i)" name="category3">
              <div class="category-name">{{category3.catName}}</div>
              <ng-container *ngIf="isDelete(category3)">
                <mat-icon style="color: #2979ff;"
                          (click)="openConfirmDialog(3, 'delete', category3)">delete
                </mat-icon>
              </ng-container>
            </mat-list-item>
          </mat-list>
        </div>

        <div fxFlex="25%">
          <div class="button-line">
            <mat-form-field floatLabel="never" class="category-input">
              <input matInput placeholder="Category4" [(ngModel)]="inputCategory[3]"
                     [errorStateMatcher]="matcher" [formControl]="cat4formControl">
            </mat-form-field>
            <ng-container
              *ngIf="selectedCategory[2] != null && selectedCategory[3] == null">
              <button mat-raised-button color="primary" (click)="addCategory(4)">Add</button>
            </ng-container>
            <ng-container *ngIf="selectedCategory[3] != null">
              <button mat-raised-button color="primary"
                      (click)="openConfirmDialog(4, 'edit', null)">Edit
              </button>
            </ng-container>
          </div>
          <button mat-button class="category-refresh" (click)="refresh(4)">
            <span>Reset</span>
            <mat-icon>refresh</mat-icon>
          </button>
          <mat-list class="category-list">
            <mat-list-item *ngFor="let category4 of categoryList[3]; let i = index;"
                           class="category" name="category4" (click)="getCategory(4, category4, i)">
              <div class="category-name">{{category4.catName}}</div>
              <ng-container *ngIf="isDelete(category4)">
                <mat-icon style="color: #2979ff;"
                          (click)="openConfirmDialog(4, 'delete', category4)">delete
                </mat-icon>
              </ng-container>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="mlt-tip">
        <p (click)="tipsVisible = !tipsVisible">
          <mat-icon>help_outline</mat-icon>
          Help
          <small [hidden]="tipsVisible">(click to show)</small>
        </p>
        <ul [hidden]="!tipsVisible">
          <li><b>카테고리 목적</b>질문에 속하는 분류 정보 값</li>
          <li><b>카테고리 등록절차</b>Category1 -> Category2 -> Category3 -> Category4 순으로 등록한다.</li>
          <li><b>ADD 방법</b>입력칸에 Category 이름을 입력하고, Add 버튼을 클릭한다.</li>
          <li><b>Edit 방법</b>이름을 변경할 Category를 클릭하고, 입력칸에 변경할 이름을 등록한다.</li>
          <li><b>Delete 방법</b>
            <mat-icon color="primary">delete</mat-icon>
            클릭한다.
          </li>
          <li><b>Delete 조건</b>자식 카테고리가 존재하지 않을시에만
            <mat-icon color="primary">delete</mat-icon>
            이 생성된다.
          </li>
        </ul>
      </div>
    </div>
  </mat-card>
</div>
