.content-card {
  box-shadow: none !important;
  overflow: auto;
  height: 100%;
}

.content-card .left {
  float: left;
  width: 20%;
  height: 80%;
}

.content-card .left .data-group-list {
  width: 80%;
  height: 80%;
  margin-right: 10px;
  overflow-y: auto;
}

.content-card .left .data-group-list .group {
  border: 1px solid #d3d3d3;
  margin-right: 10px;
  cursor: pointer;
  .data-group-name {
    width: 90%;
  }
  .delete-icon {
    float: right;
    color: #2979ff;
  }
}

.content-card .right {
  float: left;
  height: 800px;
  overflow-y: auto;
  width: 80%;
}

.content-card .right .select-box-left {
  width: 10%;
  font-size: 15px;
  padding-right: 10px;
  padding-top: 5px;
}

/*.content-card .right .select-box-right {
  width: 7%;
  font-size: 15px;
  padding-right: 10px;
  padding-top: 5px;
}*/

/*.content-card .right .corpus-list-table {
  height: 500px;
  overflow-y: auto;
}*/

.selected {
  background-color: rgb(193, 217, 255) !important;
  color: #2979ff;
}

.select-search-form {
  height:42px;
  padding-left: 10px;
  .select-search-form-input {
    height: 100%;
  }
}

