<mat-toolbar class="mlt-toolbar">
  Data Group Management
</mat-toolbar>

<div class="mlt-mainbody">
  <mat-card class="content-card">
    <div class="left">
      <mat-card-title>Data Group</mat-card-title>

      <mat-list class="data-group-list">
        <ng-container *ngFor="let group of groups; let i = index;">
          <ng-container *ngIf="group.selected">
            <mat-list-item class="group selected">
              <span class="data-group-name" (click)="clickGroup(group)">{{group.dataGroupName}}</span>
              <input type="hidden" value="{{group.id}}">
              <mat-icon class="delete-icon" style="float: right; color: #2979ff;"
                        (click)="deleteGroup(group)">
                delete
              </mat-icon>
            </mat-list-item>
          </ng-container>
          <ng-container *ngIf="!group.selected">
            <mat-list-item class="group">
              <span class="data-group-name" (click)="clickGroup(group)">{{group.dataGroupName}}</span>
              <input type="hidden" value="{{group.id}}">
              <mat-icon class="delete-icon" style="float: right; color: #2979ff;"
                        (click)="deleteGroup(group)">
                delete
              </mat-icon>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-list>


      <mat-form-field floatLabel="never">
        <input matInput [(ngModel)]="groupName" [formControl]="addRoleInput"
               placeholder="Group Name" [value]="groupName">
        <mat-error *ngIf="addRoleInput.invalid">
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>

      <div>
        <ng-container *ngIf="focusedChecked == false">
          <button mat-button (click)="addGroup()">
            <mat-icon color="primary">add_circle_outline</mat-icon>
            <span style="color: #2979ff; font-size: 18px;">Add</span>
          </button>
        </ng-container>
        <ng-container *ngIf="focusedChecked == true">
          <button mat-button (click)="editGroup()">
            <mat-icon color="primary">add_circle_outline</mat-icon>
            <span style="color: #2979ff; font-size: 18px;">Edit</span>
          </button>
        </ng-container>
      </div>
    </div>


    <div class="right">
      <mat-card-title>Training Data List</mat-card-title>
      <div>
      <mat-form-field class="select-box-left">
        <mat-select placeholder="Wiki" [(ngModel)]="selectedWiki" (click)="clearSelectSearchFormControlValue()">
          <div class="select-search-form">
            <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
          </div>
          <mat-option *ngFor="let wiki of filteredWikiList | async" [value]="wiki.id">
            {{ wiki.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-box-left">
        <mat-select placeholder="category1" [(ngModel)]="selectedContextCate1"
                    (click)="clearSelectOption('selectedContextCate', 1)">
          <mat-option *ngFor="let cate of contextCate; let i = index;" [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-box-left">
        <mat-select placeholder="category2" [(ngModel)]="selectedContextCate2"
                    (click)="clearSelectOption('selectedContextCate', 2)">
          <mat-option *ngFor="let cate of selectedContextCate1.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-box-left">
        <mat-select placeholder="category3" [(ngModel)]="selectedContextCate3"
                    (click)="clearSelectOption('selectedContextCate', 3)">
          <mat-option *ngFor="let cate of selectedContextCate2.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-box-left">
        <mat-select placeholder="category4" [(ngModel)]="selectedContextCate4">
          <mat-option *ngFor="let cate of selectedContextCate3.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width:70px; margin-right: 10px;">
          <input matInput type="number" [(ngModel)]="searchSeason" placeholder="Season">
        </mat-form-field>
        <mat-form-field style="width:200px; margin-right: 10px;" >
          <input matInput [(ngModel)]="searchTitle" placeholder="Title">
        </mat-form-field>
        <mat-form-field style="width:300px; margin-right: 10px;">
          <textarea autoresize matInput [(ngModel)]="searchContext" rows="1" placeholder="Context"></textarea>
        </mat-form-field>
        <mat-form-field style="width:200px; margin-right: 10px;">
          <input matInput [(ngModel)]="searchQuestion" placeholder="Question">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getCorpusList(0)">search</button>

      </div>
      <app-table #corpusTableComponent [rows]="corpusList" [headers]="header"
                 [dataSource]="contextSource" [length]="contextTotalCount"
                 (outputPaginator)="setDataPage($event)"
                 (outputSelectedHeader)="orderByHeader($event)"></app-table>


      <button mat-raised-button color="primary" style="float: right" (click)="addListToGroup()">
        apply
      </button>
    </div>
  </mat-card>
</div>
