<section>
  <header>
    <h2 *ngIf="role =='edit'">Update Skill</h2>
    <h2 *ngIf="role == 'add'">Add Skill</h2>
  </header>

  <main>
    <section>
      <mat-form-field style="width:100%" floatLabel="never">
        <input matInput placeholder="Name" [(ngModel)]="item.name" rows="1"
               [formControl]="nameValidator" required
               (keyup)="checkInvalid($event)">
        <mat-error *ngIf="nameValidator.hasError('required') ">Enter a value</mat-error>
        <mat-error *ngIf="nameValidator.hasError('whitespace')">
          Remove whitespace
        </mat-error>
      </mat-form-field>
    </section>
  </main>
  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
    <button *ngIf="role =='edit'" mat-button color="warn" type="button" (click)="removeItem()">
      Remove
    </button>
    <button *ngIf="role =='edit'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="updateItem()">Edit
    </button>
    <button *ngIf="role =='add'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="addItem()">Add
    </button>
  </footer>
</section>
