<mat-toolbar class="mlt-toolbar">
  <span>MRC Passage</span>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Skill" [(ngModel)]="selectedSkill" (change)="selectedSkillChange()" (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let skill of filteredSkillList | async" [value]="skill.id">
        {{ skill.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button *ngFor="let action of skillActionsArray" (click)="doAction(action)"
          [hidden]="action.hidden" [disabled]="action.disabled">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <div class="passage-list">
    <section [hidden]="selectedSkill != 0">
      <p>Select Skill first.</p>
    </section>

    <section [hidden]="selectedSkill == 0">
      <p>Edit Passage used in MRC.</p>

      <div class="first-line">
        <mat-form-field style="width:300px; margin-right: 10px;" floatLabel="never">
          <textarea autoresize matInput [(ngModel)]="searchPassage" rows="1" placeholder="Passage"></textarea>
        </mat-form-field>
        <mat-form-field style="width:200px; margin-right: 10px;" floatLabel="never">
          <input matInput [(ngModel)]="searchQuestion" rows="1" placeholder="Question" (keydown)="searchKeydown($event)">
        </mat-form-field>
        <mat-form-field style="width:100px; margin-right: 10px;" floatLabel="never">
          <input matInput [(ngModel)]="searchSection" rows="1" placeholder="Section" (keydown)="searchKeydown($event)">
        </mat-form-field>
        <mat-form-field style="width:100px; margin-right: 10px;" floatLabel="never">
          <input matInput [(ngModel)]="searchSource" rows="1" placeholder="Source" (keydown)="searchKeydown($event)">
        </mat-form-field>

        <!-- Search Button -->
        <button mat-raised-button color="primary" (click)="onClickSearchButton(0)">Search</button>
      </div>
      <div class="second-line">
        <button mat-button color="primary" *ngFor="let action of passageActionsArray"
                (click)="doAction(action)"
                [hidden]="action.hidden">
          <mat-icon class="color">{{action.icon}}</mat-icon>
          <span class="color">{{action.text}}</span>
        </button>

        <!-- Upload a File -->
        <app-uploader-button [url]="'/mrc/passage/'+selectedSkill+ '/' + workspaceId + '/upload-files'" #uploader
                             (preUploadCallback)=confirmUpload()
                             (uploadCallback)=onUploadFile()></app-uploader-button>
        <!-- Download a File -->
        <button mat-button color="accent"
                (click)="downloadFile()">
          <mat-icon class="color">file_download</mat-icon>
          <span class="color">Download a File</span>
        </button>
        <button mat-button color="primary" [disabled]="analyzingStatus"
                (click)="nlpAnalyze('all')">
          <mat-icon class="color">spellcheck</mat-icon>
          <span class="color">NLP Analyze ALL</span>
        </button>
        <button mat-button color="primary" [disabled]="analyzingStatus"
                (click)="nlpAnalyze()">
          <mat-icon class="color">spellcheck</mat-icon>
          <span class="color">NLP Analyze</span>
        </button>
      </div>
        <ng-container *ngIf="analyzingStatus">
          <div>
          <mat-card class="card" fxFlex="100%" fxFlex.gt-md="960px">
            <mat-card-content>
              <p>
                <span>NLP Analyzing...</span>
              </p>
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-content>
          </mat-card>
          </div>

        </ng-container>
      <div fxLayout="row">
        <div fxFlex>
          <app-table class="mlt-table" #lineTableComponent [headers]="header" [rows]="passageList"
                     [dataSource]="dataSource" [length]="pageLength"
                     (outputSelectedRow)="editPassage($event)"
                     (outputSelectedHeader)="search($event)"
                     (outputPaginator)="setPage($event)">
          </app-table>
          <ng-template let-row="row" #passageTemplate>
            <div class="passage-row">
              <a class="idCursor" (click)="detailPassage(row)">{{row.passage}}</a>
            </div>
          </ng-template>
        </div>
      </div>
    </section>
  </div>
</div>
