<mat-toolbar class="mlt-toolbar-upsert">
  <div>
    <a class="toolbar-title">
      MRC Passage Detail
    </a>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="goEdit()">Edit</button>
    <button mat-raised-button color="primary" (click)="goBack()">Back to List</button>
  </div>

</mat-toolbar>

<div class="mlt-mainbody">
  <div class="passage-detail">
    <div class="right">
      <mat-card class="mat-card-style">
        <div class="box-size">
          <mat-card-title class="title">Passage information</mat-card-title>
          <div class="content-data">
            <mat-card-content class="left">Skill</mat-card-content>
            <mat-card-content class="right">{{skill.name}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Section</mat-card-content>
            <mat-card-content class="right">{{passageEntity.section}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Source</mat-card-content>
            <mat-card-content class="right">{{passageEntity.src}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Passage</mat-card-content>
            <mat-card-content class="right">{{passageEntity.passage}}</mat-card-content>
            <!--<mat-card-content class="right">{{passageEntity.passage}}</mat-card-content>-->
          </div>
          <div class="content-data">
            <mat-card-content class="left">Passage Morph</mat-card-content>
            <!--<mat-card-content class="right">{{passageEntity.passageMorph}}</mat-card-content>-->
            <mat-card-content class="right">
              <ng-container *ngIf="passageEntity.passageMorph != undefined && passageEntity.passageMorph != ''">
                <mat-icon (click)="changeHidePassageMorphFlag()" [hidden]="!hidePassageMorphFlag"
                          matTooltip="Expand Passage Morph" matTooltipPosition="left">expand_more
                </mat-icon>
                <p [hidden]="hidePassageMorphFlag">
                  <mat-icon (click)="changeHidePassageMorphFlag()" matTooltip="Hide Passage Morph"
                            matTooltipPosition="left">expand_less
                  </mat-icon>
                  {{passageEntity.passageMorph}}
                </p>
              </ng-container>
              <ng-container *ngIf="passageEntity.passageMorph == undefined || passageEntity.passageMorph == ''">
                -
              </ng-container>
            </mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Word List</mat-card-content>
            <mat-card-content class="right">
              <ng-container *ngIf="passageEntity.wordList != undefined && passageEntity.wordList != ''">
                <mat-icon (click)="changeHideWordListFlag()" [hidden]="!hideWordListFlag" matTooltip="Expand Word List"
                          matTooltipPosition="left">expand_more
                </mat-icon>
                <p [hidden]="hideWordListFlag">
                  <mat-icon (click)="changeHideWordListFlag()" matTooltip="Hide Word List" matTooltipPosition="left">
                    expand_less
                  </mat-icon>
                  {{passageEntity.wordList}}
                </p>
              </ng-container>
              <ng-container *ngIf="passageEntity.wordList == undefined || passageEntity.wordList == ''">
                -
              </ng-container>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="mat-card-style">
        <div class="box-size">
          <mat-card-title class="title">Passage Question information</mat-card-title>
          <ng-container *ngFor="let question of passageEntity.passageQuestionEntities">
            <div class="question-list">
              <div class="content-data">
                <mat-card-content class="left"> Question</mat-card-content>
                <mat-card-content class="right">{{question.question || '-' }}</mat-card-content>
              </div>
              <!--<div class="content-data">-->
                <!--<mat-card-content class="left"> Question Morph</mat-card-content>-->
                <!--<mat-card-content class="right">{{question.questionMorph || '-' }}</mat-card-content>-->
              <!--</div>-->
            </div>
          </ng-container>
        </div>
      </mat-card>
    </div>
  </div>
</div>
