.category-select {
  width: 140px;
}

.passage-search-test-left-data {
  width: 140px;
  .passage-search-test-ntop {
    /deep/ .mat-form-field-underline {
      display: none;
    }
  }
}

.passage-search-test-right-data {
  margin-left: 30px;
  .input-ntop {
    .mat-error {
      width: 190px;
    }
  }
}

//.question-card {
//  height: 200px;
//}

.passage-search-test-question {
  .mlt-text-area-field {
    height: 50px;
    .mlt-text-area {
      height: 50px;
    }

  }
}
