/*
.basicqa-items .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.basicqa-items .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}
*/
.mlt-toolbar-upsert {
  background-color: #ffffff;
  border-bottom: 1.1px solid #d3d3d3;
  justify-content: space-between;
  margin-top: 1px;
}

[hidden] {
  display: none !important;
}

.mrc-passage-upsert-form {
  margin-left: 30px;
  margin-top: 30px;
  width: 100%;
  .left {
    float: left;
    width: 40%;

    .text-data {
      font-size: 14px;
      width: 900px;
      height: 500px;
    }
  }
  .right {
    float: left;
    width: 46%;
    .primary-button {
      color: #2979ff;
    }
    .question-list {
      width: 100%;
      //margin-top: 20px;
      height: 520px;
      overflow-y: auto;
      .question-list-table {
        width: 100%;
        height: 99%;
        overflow-y: auto;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        mat-table {
          overflow: hidden;
          min-height: 98%;
        }
      }
    }
  }
  //.mat-row {
  //  height: 0 !important;
  //}
}
