<mat-toolbar class="mlt-toolbar-upsert">
  <div>
    <span class="toolbar-title">
      MRC Passage {{flag}} : <span matTooltip="Skill Name"
                                   matTooltipPosition="right">{{skill.name}}</span>
    </span>
  </div>
  <button mat-raised-button color="primary" (click)="goBack()">Back to List</button>
</mat-toolbar>
<div class="mrc-passage-upsert-form">
  <div class="left">
    <mat-list>
      <mat-list-item>
        <mat-form-field style="width:90%">
          <input matInput placeholder="Section" (keydown)="checkValid()" [(ngModel)]="passageEntity.section" required>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field style="width:90%">
          <input matInput placeholder="Src" (keydown)="checkValid()" [(ngModel)]="passageEntity.src" required>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item style="height:510px; margin-top:10px;">
        <mat-form-field style="width:90%">
        <textarea matInput placeholder="Passage" (keydown)="checkValid()" [(ngModel)]="passageEntity.passage"
                  class="text-data"
                  required maxlength="2999"></textarea>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="right">
    <mat-list>
      <mat-list-item>
        <mat-form-field style="width:85%">
          <input matInput placeholder="Question" [formControl]="questionFormControl"
                 [(ngModel)]="passageQuestionEntity.question">
          <mat-error *ngIf="questionFormControl.invalid">
            {{getErrorMessage()}}
          </mat-error>
        </mat-form-field>
        <button mat-button (click)="addPassageQuestion()">
          <mat-icon color="primary">add_circle_outline</mat-icon>
          <span style="color: #2979ff; font-size: 14px;">Add</span>
        </button>
      </mat-list-item>
      <h3 mat-subheader>Question List</h3>
      <mat-list-item class="question-list">
        <app-table class="question-list-table" #lineTableComponent [headers]="header" [rows]="passageQuestionEntities"
                   [isShowPaginator]="false" [dataSource]="dataSource"
                   (outputSelectedRow)="deletePassageQuestion($event)">
        </app-table>
      </mat-list-item>
    </mat-list>
    <mat-list-item style="margin-top: 50px; float:right">
      <button mat-flat-button color="primary" (click)="save()" [disabled]="invalidFlag">Save</button>
    </mat-list-item>
  </div>
</div>
