<mat-toolbar class="mlt-toolbar">
  <span>Passage Search Test</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <!-- 스킬 미 선택시 -->
  <!-- 스킬 미 선택시 -->

  <!-- 스킬 선택시 -->
  <section>
    <p>Test Passage Search Engine</p>

    <div>
      <div class="passage-search-test-left-data">
        <mat-icon color="primary">star_rate</mat-icon>
        <span>Requirement</span>
      </div>
      <!-- answer count(nTop) 설정 -->
      <div class="bqa-question-right-data">
        <mat-form-field class="passage-search-test-ntop" matTooltip="NTOP is Answer count." matTooltipPosition="after">
          <input matInput placeholder="NTOP" type="number" [(ngModel)]="nTop"
                 min="1" [formControl]="nTopFormControl" class="input-ntop">
          <mat-error *ngIf="nTopFormControl.hasError('required')">
            NTOP is <strong>required.</strong>
          </mat-error>
          <mat-error *ngIf="!nTopFormControl.hasError('required') &&
          nTopFormControl.hasError('negativeInteger')">
            NTOP must be greater than zero.<strong></strong>
          </mat-error>
        </mat-form-field>
        <!-- answer count(nTop) 설정 -->
      </div>
    </div>


    <div>
      <div class="passage-search-test-left-data">
        <mat-icon color="primary">highlight</mat-icon>
        <span>Options</span>
      </div>
      <div class="bqa-question-right-data">
        <!-- Option : category 설정 -->
        <mat-form-field class="mlt-select">
          <mat-select placeholder="Skill" [(ngModel)]="selectedSkill">
            <mat-option [value]='0'> all</mat-option>
            <mat-option *ngFor="let skill of skillList" [value]="skill.id">
              {{ skill.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
        <input matInput [(ngModel)]="searchSection"  placeholder="Section">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="searchSource" placeholder="Source">
        </mat-form-field>
        <!-- Option : category 설정 -->

      </div>
    </div>

    <!-- Text 데이터 입력 -->
    <mat-card class="passage-search-test-question">
      <mat-card-content>
        <div class="label">Question</div>
        <mat-form-field floatLabel="never"
                        class="mlt-text-area-field">
            <textarea matInput placeholder="&nbsp;Enter Question.."
                      class="mlt-text-area" [(ngModel)]="searchQuestion"></textarea>
        </mat-form-field>
      </mat-card-content>

      <div class="rolling" [hidden]="!loading" style="height:30px"></div>
      <mat-card-actions class="gray" [hidden]="loading">
        <button mat-raised-button color="primary" type="submit"
                (click)="findPassage()"
                [disabled]="!nTopFormControl.valid || !searchQuestion">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
    <!-- Text 데이터 입력 -->

    <!-- 서버에서 응답 받은 결과 -->
    <div [hidden]="!result" label="Result">
      <div class="test-result">
        <pre [innerHTML]="result | prettyjson"></pre>
      </div>
    </div>
    <!-- 서버에서 응답 받은 결과 -->

  </section>
  <!-- 스킬 선택시 -->
</div>
