/*
.basicqa-items .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.basicqa-items .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}
*/
[hidden] {
  display: none !important;
}
.training-data-row {
  width: 300px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  .idCursor {
    cursor: pointer;
    color: #3367d6;
    font-weight: 600;
  }
}

.select-search-form {
  height:42px;
  padding-left: 10px;
  .select-search-form-input {
    height: 100%;
  }
}
