<mat-toolbar class="mlt-toolbar">
  <span>Training</span>
  <mat-form-field class="mlt-select" [floatPlaceholder]="'never'">
    <mat-select placeholder="dataGroup" [(ngModel)]="mrcModelEntity.model"
                (change)="checkReadyToTrain()">
      <mat-option *ngFor="let dataGroup of dataGroups" [value]="dataGroup.groupId">
        {{ dataGroup.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="mlt-label">Model Name</span>
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Model Name" [(ngModel)]="mrcModelEntity.name"
           (keydown)="checkReadyToTrain()"
           [formControl]="nodeFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>

  <span class="mlt-label">Epoches</span>
  <mat-form-field floatLabel="never" class="mlt-input">
    <input matInput type="number" min="1" placeholder="Epoches" [(ngModel)]="mrcModelEntity.epoches"
           (keydown)="checkReadyToTrain()"
           [formControl]="nodeFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>

  <span class="mlt-label">BatchSize</span>
  <mat-form-field floatLabel="never" class="mlt-input">
    <input matInput type="number" min="1" placeholder="BatchSize"
           [(ngModel)]="mrcModelEntity.batchSize" (keydown)="checkReadyToTrain()"
           [formControl]="repeatFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>

  <button mat-button *ngFor="let action of actions"
          (click)="doAction(action)" [disabled]="isTrain">
    <mat-icon [ngClass]="getClassButton()">{{action.icon}}</mat-icon>
    <span [ngClass]="getClassButton()">{{action.text}}</span>
  </button>
</mat-toolbar>


<div class="mlt-mainbody">

  <section>
    <div class="mlt-title">MRC Training Progress</div>
    <div class="mlt-subtitle">Train Machine Reading Comprehension models.</div>

    <div fxLayout="row" *ngFor="let training of trainings">
      <mat-card class="mlt-card" fxFlex="100%" fxFlex.gt-md="960px">
        <mat-card-title>{{training.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Progress: {{training.progress | number:'2.1-1'}}%</span>
          </p>
          <mat-progress-bar
            [mode]="(training.stopped || training.error) ? 'determinate' : 'buffer'"
            [value]="training.progress"
            [bufferValue]="training.progress">
          </mat-progress-bar>
          <p class="mlt-error" *ngIf="training.error">
            <span>{{training.error}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="" [disabled]="training.stopped || training.error"
                  (click)="stopTraining(training.key)" type="button">Stop
          </button>
          <button mat-raised-button color="accent"
                  [disabled]="!(training.stopped || training.error)"
                  (click)="removeTraining(training.key)" type="button">Remove
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>

  <section [hidden]="models.length === 0">
    <div class="mlt-title">Trained MRC Models</div>

    <div fxLayout="row" *ngFor="let model of models">
      <mat-card class="mlt-card" fxFlex="100%" fxFlex.gt-md="960px"
                *ngIf="model.name != 'baseline'">
        <mat-card-title>{{model.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Key : {{model.key}}</span>
          </p>
          <!--<p>-->
            <!--<span>Binary : {{model.mrcBinary}}</span>-->
          <!--</p>-->
          <p>
            <span>Status : {{model.status}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="button" color="accent" (click)="removeModel(model.key)">
            Remove
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
