<mat-toolbar class="mlt-toolbar">
  <span>MRC Training Data</span>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Wiki" [(ngModel)]="selectedWiki" (change)="getNextPage()" (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let wiki of filteredWikiList | async" [value]="wiki.id">
        {{ wiki.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button *ngFor="let action of wikiActionsArray" (click)="doAction(action)"
          [hidden]="action.hidden" [disabled]="action.disabled">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section [hidden]="selectedWiki != 0">
    <p>Select Wiki first.</p>
  </section>

  <section [hidden]="selectedWiki == 0">
    <p>Edit training data used in MRC.</p>
    <div>
      <mat-form-field class="select-box-left">
        <mat-select placeholder="category1" [(ngModel)]="selectedContextCate1"
                    (click)="clearSelectOption('selectedContextCate', 1)">
          <mat-option *ngFor="let cate of contextCate; let i = index;" [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-box-left">
        <mat-select placeholder="category2" [(ngModel)]="selectedContextCate2"
                    (click)="clearSelectOption('selectedContextCate', 2)">
          <mat-option *ngFor="let cate of selectedContextCate1.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-box-left">
        <mat-select placeholder="category3" [(ngModel)]="selectedContextCate3"
                    (click)="clearSelectOption('selectedContextCate', 3)">
          <mat-option *ngFor="let cate of selectedContextCate2.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-box-left">
        <mat-select placeholder="category4" [(ngModel)]="selectedContextCate4">
          <mat-option *ngFor="let cate of selectedContextCate3.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width:70px; margin-right: 10px;">
        <input matInput type="number" [(ngModel)]="searchSeason" placeholder="Season">
      </mat-form-field>
      <mat-form-field style="width:200px; margin-right: 10px;">
        <input matInput [(ngModel)]="searchTitle" placeholder="Title">
      </mat-form-field>
      <mat-form-field style="width:300px; margin-right: 10px;">
        <textarea autoresize matInput [(ngModel)]="searchContext" rows="1"
                  placeholder="Context"></textarea>
      </mat-form-field>
      <mat-form-field style="width:200px; margin-right: 10px;">
        <input matInput [(ngModel)]="searchQuestion" placeholder="Question">
      </mat-form-field>
      <!-- Search Button -->
      <button mat-raised-button color="primary" (click)="onClickSearchButton(0)">Search</button>
    </div>
    <div>
      <button mat-button color="primary" *ngFor="let action of contextActionsArray"
              (click)="doAction(action)"
              [hidden]="action.hidden">
        <mat-icon class="color">{{action.icon}}</mat-icon>
        <span class="color">{{action.text}}</span>
      </button>

      <app-uploader-button
        [url]="'/mrc/training-data/'+selectedWiki+ '/' + workspaceId + '/upload-files'" #uploader
        (preUploadCallback)=confirmUpload()
        (uploadCallback)=onUploadFile()></app-uploader-button>
      <button mat-button color="accent"
              (click)="downloadFile()">
        <mat-icon class="color">file_download</mat-icon>
        <span class="color">Download a File</span>
      </button>
      <button mat-button color="primary" (click)="nlpAnalyze('all')" [disabled]="analyzingStatus">
        <mat-icon class="color">spellcheck</mat-icon>
        <span class="color">NLP Analyze ALL</span>
      </button>
      <button mat-button color="primary" (click)="nlpAnalyze()" [disabled]="analyzingStatus">
        <mat-icon class="color">spellcheck</mat-icon>
        <span class="color">NLP Analyze</span>
      </button>
    </div>
    <ng-container *ngIf="analyzingStatus">
      <div>
        <mat-card class="card" fxFlex="100%" fxFlex.gt-md="960px">
          <mat-card-content>
            <p>
              <span>NLP Analyzing...</span>
            </p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </div>

    </ng-container>
    <div fxLayout="row">
      <div fxFlex>
        <app-table class="mlt-table" #lineTableComponent [headers]="header" [rows]="contextList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputSelectedRow)="editTrainingData($event)"
                   (outputSelectedHeader)="search($event)"
                   (outputPaginator)="setPage($event)">
        </app-table>
        <ng-template let-row="row" #trainingDataTemplate>
          <div class="training-data-row">
            <a class="idCursor" (click)="detail(row)">{{row.title}}</a>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
</div>
