<mat-toolbar class="mlt-toolbar-upsert">
  <div>
    <a class="toolbar-title">
      MRC Training Data Detail
    </a>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="goEdit()">Edit</button>
    <button mat-raised-button color="primary" (click)="goBack()">Back to List</button>
  </div>

</mat-toolbar>

<div class="mlt-mainbody">
  <div class="training-data-detail">
    <div class="right">
      <mat-card class="mat-card-style">
        <div class="box-size">
          <mat-card-title class="title">Training Data Context information</mat-card-title>
          <div class="content-data">
            <mat-card-content class="left">Wiki</mat-card-content>
            <mat-card-content class="right">{{wiki.name}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Season</mat-card-content>
            <mat-card-content class="right">{{contextEntity.season}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Category</mat-card-content>
            <mat-card-content class="right">CCCCCC</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Title</mat-card-content>
            <mat-card-content class="right">{{contextEntity.title}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Context</mat-card-content>
            <mat-card-content class="right">{{contextEntity.context}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Context Morph</mat-card-content>
            <!--<mat-card-content class="right">{{passageEntity.passageMorph}}</mat-card-content>-->
            <mat-card-content class="right">
              <ng-container *ngIf="contextEntity.contextMorph != undefined && contextEntity.contextMorph != ''">
                <mat-icon (click)="changeHideContextMorphFlag()" [hidden]="!hideContextMorphFlag"
                          matTooltip="Expand Context Morph" matTooltipPosition="left">expand_more
                </mat-icon>
                <p [hidden]="hideContextMorphFlag">
                  <mat-icon (click)="changeHideContextMorphFlag()" matTooltip="Hide Context Morph"
                            matTooltipPosition="left">expand_less
                  </mat-icon>
                  {{contextEntity.contextMorph}}
                </p>
              </ng-container>
              <ng-container *ngIf="contextEntity.contextMorph == undefined || contextEntity.contextMorph == ''">
                -
              </ng-container>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="mat-card-style">
        <div class="box-size">
          <mat-card-title class="title">Training Data Question and Answer information</mat-card-title>
          <ng-container *ngFor="let question of contextEntity.questionEntities">
            <div class="question-list">
              <div class="content-data">
                <mat-card-content class="left"> Question</mat-card-content>
                <mat-card-content class="right">{{question.question || '-' }}</mat-card-content>
              </div>
              <div class="content-data">
                <mat-card-content class="left"> Question Morph</mat-card-content>
                <mat-card-content class="right">{{question.questionMorph || '-' }}</mat-card-content>
              </div>
              <div class="content-data">
                <mat-card-content class="left"> Answer</mat-card-content>
                <mat-card-content class="right">{{question.answerEntities[0].answer || '-' }}</mat-card-content>
              </div>
              <div class="content-data">
                <mat-card-content class="left"> Answer Start and End</mat-card-content>
                <mat-card-content class="right">{{question.answerEntities[0].answerStart + '~' + question.answerEntities[0].answerEnd || '-' }}</mat-card-content>
              </div>
              <div class="content-data">
                <mat-card-content class="left"> Answer Morph</mat-card-content>
                <mat-card-content class="right">{{question.answerEntities[0].answerMorph || '-' }}</mat-card-content>
              </div>
              <div class="content-data">
                <mat-card-content class="left"> Answer Morph Start and End</mat-card-content>
                <mat-card-content class="right">{{question.answerEntities[0].answerStartMorph + '~' + question.answerEntities[0].answerEndMorph|| '-' }}</mat-card-content>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-card>
    </div>
  </div>
</div>
