<mat-toolbar class="mlt-toolbar-upsert">
  <div>
    <a class="toolbar-title">
      MRC Training Data {{flag}} : {{wiki.name}}
    </a>
  </div>
  <button mat-raised-button color="primary" (click)="goBack()">Back to List</button>
</mat-toolbar>

<div class="mrc-training-data-upsert-form">
  <div class="left">
    <mat-list>
      <mat-list-item>
        <mat-form-field style="width:20%">
          <input matInput type="number" placeholder="Season" [(ngModel)]="contextEntity.season">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item>
        <mat-form-field class="category-select-box">
          <mat-select placeholder="category1" [(ngModel)]="selectedContextCate1"
                      (change)="clearSelectOption('selectedContextCate', 1)">
            <mat-option *ngFor="let cate of contextCate; let i = index;" [value]="cate">
              {{ cate.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="category-select-box">
          <mat-select placeholder="category2" [(ngModel)]="selectedContextCate2"
                      (change)="clearSelectOption('selectedContextCate', 2)">
            <mat-option *ngFor="let cate of selectedContextCate1.children; let i = index;"
                        [value]="cate">
              {{ cate.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="category-select-box">
          <mat-select placeholder="category3" [(ngModel)]="selectedContextCate3"
                      (change)="clearSelectOption('selectedContextCate', 3)">
            <mat-option *ngFor="let cate of selectedContextCate2.children; let i = index;"
                        [value]="cate">
              {{ cate.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="category-select-box">
          <mat-select placeholder="category4" [(ngModel)]="selectedContextCate4">
            <mat-option *ngFor="let cate of selectedContextCate3.children; let i = index;"
                        [value]="cate">
              {{ cate.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item>
        <mat-form-field style="width:90%">
          <input matInput placeholder="Title" (keydown)="checkValid()" [(ngModel)]="contextEntity.title" required>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item style="height:510px; margin-top:10px;">
        <mat-form-field style="width:90%">
        <textarea matInput placeholder="Context" (keydown)="checkValid()" [(ngModel)]="contextEntity.context"
                  class="text-data"
                  required maxlength="2999"></textarea>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="right">
    <div style="height:100px">
      <div style="width:80%; height: 100%; float:left">
        <mat-list>
          <mat-list-item>
            <mat-form-field style="width:99%">
              <input matInput placeholder="Question"
                     [(ngModel)]="inputQuestion">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field style="width:99%">
              <input matInput placeholder="Answer"
                     [(ngModel)]="inputAnswer">
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </div>
      <div style="width:15%;  height: 100%; float:left">
        <button mat-button color="primary" style="width:100%; height:100%;" (click)="addQuestionAndAnswer()">
          <mat-icon color="primary">add_circle_outline</mat-icon>
          <span style="color: #2979ff; font-size: 14px;">Add</span>
        </button>
      </div>
    </div>
    <mat-list>
      <h3 mat-subheader>Question List</h3>
      <mat-list-item class="question-list">
        <app-table class="question-list-table" #lineTableComponent [headers]="qaHeader" [rows]="questionEntities"
                   [isShowPaginator]="false" [dataSource]="qaDataSource">
                   <!--(outputSelectedRow)="deletePassageQuestion($event)">-->
        </app-table>
        <ng-template let-row="row" #questionTemplate>
          <ng-container *ngIf="row.isEditMode">
            <mat-form-field style="width:99%" floatLabel="never">
              <input matInput placeholder="Question" [(ngModel)]="row.questionTemp">
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="!row.isEditMode">
            {{row.question}}
          </ng-container>
        </ng-template>
        <ng-template let-row="row" #answerTemplate>
          <ng-container *ngIf="row.isEditMode">
            <mat-form-field style="width:99% " floatLabel="never">
              <input matInput placeholder="Answer" [(ngModel)]="row.answerEntities[0].answerTemp">
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="!row.isEditMode">
            {{row.answerEntities[0].answer}}
          </ng-container>
        </ng-template>
        <ng-template let-row="row" #actionTemplate>
          <ng-container *ngIf="row.isEditMode">
              <mat-icon class="icon-button" color="primary" (click)="saveRow(row)">save</mat-icon>
              <mat-icon class="icon-button" color="primary" (click)="cancelEditMode(row)">cancel</mat-icon>
          </ng-container>
          <ng-container *ngIf="!row.isEditMode">
              <mat-icon class="icon-button" color="primary" (click)="editRow(row)">edit</mat-icon>
              <mat-icon class="icon-button" color="primary" (click)="deleteRow(row)">delete</mat-icon>
          </ng-container>
        </ng-template>
      </mat-list-item>
    </mat-list>
    <mat-list-item style="margin-top: 50px; float:right">
      <button mat-flat-button color="primary" (click)="save()" [disabled]="invalidFlag">Save</button>
    </mat-list-item>
  </div>
</div>
