/*
.mrc-training .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.mrc-training .toolbar .select .select-option {
  color: rgba(0, 0, 0, .654);
  font-size: 8px;
}

.mrc-training .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}

.mrc-training .input {
  margin-left: 5px;
  font-size: 14px;
  width: 57px;
}

.mrc-training .label {
  cursor: default;
  display: inline-block;
  margin-right: 5px;
  color: #3367d6;
  font-size: 14px;
  margin-left: 12px;
}

.mrc-training .toolbar .not-disabled {
  color: #3367d6;
}

.mrc-training .card {
  margin-bottom: 14px;
}
*/
