/*
.basicqa-items .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.basicqa-items .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}
*/
.mlt-toolbar-upsert {
  background-color: #ffffff;
  border-bottom: 1.1px solid #d3d3d3;
  justify-content: space-between;
  margin-top: 1px;
}

[hidden] {
  display: none !important;
}

.text-data {
  font-size: 14px;
  width: 900px;
  height: 500px;
}

.mrc-context-upsert-form {
  margin-left: 30px;
  width: 40%;
  .category-select-box {
    width: 18%;
    font-size: 15px;
    padding-right: 10px;
  }
}

.mrc-qa-upsert-form {
  margin-top: 30px;
  margin-left: 30px;
  width: 100%;
  .left {
    float: left;
    width: 40%;
    .category-select-box {
      width: 18%;
      font-size: 15px;
      padding-right: 10px;
    }
  }
  .center {
    display: inline-block;
    margin-top: 320px;
    .arrow-icon {
      font-size: 100px;
      color: #2979ff;
      cursor: pointer;
    }
  }
  .right {
    float: right;
    width: 46%;
    .category-select-box {
      width: 18%;
      font-size: 15px;
      padding-right: 10px;
    }
    .question {
      width: 45%;
    }
    .answer {
      width: 45%;
    }
    .answers-table {
      width: 80%;
      .mat-table {
        display: block;
        height: 200px;
        margin-bottom: 20px;
        overflow-y: auto;
        .primary-button {
          color: #2979ff;
        }
      }
    }
    .include-question {
      text-align: center;
      margin-bottom: 20px;
    }
    .questions-table {
      width: 80%;
      .mat-table {
        display: block;
        height: 200px;
        overflow-y: auto;
        .primary-button {
          color: #2979ff;
        }
      }
    }
  }
  .mat-row {
    height: 0 !important;
  }
}


.mrc-training-data-upsert-form {
  margin-left: 30px;
  margin-top: 30px;
  width: 100%;
  .left {
    float: left;
    width: 40%;
    .category-select-box {
      width: 18%;
      font-size: 15px;
      padding-right: 10px;
    }
    .text-data {
      font-size: 14px;
      width: 900px;
      height: 500px;
    }
  }
  .right {
    float: left;
    width: 46%;
    .primary-button {
      color: #2979ff;
    }
    .question-list {
      width: 100%;
      //margin-top: 20px;
      height: 520px;
      overflow-y: auto;
      .question-list-table {
        width: 100%;
        height: 99%;
        overflow-y: auto;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        mat-table {
          overflow: hidden;
          min-height: 98%;
        }
        .icon-button {
          cursor: pointer;
        }
      }
    }
  }
  //.mat-row {
  //  height: 0 !important;
  //}
}
