@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.basic-qa-v2-item-list {
  width: 100%;

  .left {
    width: 70%;
    float: left;
  }

  .right {
    width: 30%;
    float: left;
    .basic-qa-v2-item-list-panel {
      width: 100% !important;
      .indexed-keyword2 {
        overflow: auto;
        height: 300px;
        .indexed-keyword {
          height: 25px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
.select-search-form {
  height:42px;
  padding-left: 10px;
  .select-search-form-input {
    height: 100%;
  }
}
