<mat-toolbar class="mlt-toolbar">
    <span>BasicQA V2 QA Sets</span>
    <mat-form-field class="mlt-select" floatLabel="never">
        <mat-select placeholder="Category" [(ngModel)]="selectedCategory" (change)="onCategorySelected()"
                    (click)="clearSelectSearchFormControlValue()">
            <div class="select-search-form">
                <input matInput placeholder="Search" class="select-search-form-input"
                       [formControl]="selectSearchFormControl">
            </div>
            <mat-option *ngFor="let category of filteredCategoryList | async" [value]="category.id">
                {{ category.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button *ngFor="let action of categoryActionsArray" (click)="doAction(action)"
            [hidden]="action.hidden" [disabled]="action.disabled">
        <mat-icon color="primary">{{action.icon}}</mat-icon>
        <span style="color: #3b78e7">{{action.text}}</span>
    </button>
</mat-toolbar>

<div class="mlt-mainbody" [hidden]="!isCategorySelected">
    <div class="basic-qa-v2-item-list">
        <div class="left">
            <section>
                <p>Edit QA Sets Used in BasicQA V2
                    <button mat-button color="primary" *ngFor="let action of qaSetActionsArray"
                            (click)="doAction(action)"
                            [hidden]="action.hidden">
                        <mat-icon class="color">{{action.icon}}</mat-icon>
                        <span class="color">{{action.text}}</span>
                    </button>
                </p>

                <ag-grid-angular
                        #agGrid style="width: 100%; height: 700px;" class="ag-theme-balham"
                        id="myGrid"
                        [enableColResize]="true"
                        [enableCellChangeFlash]="true"
                        [gridOptions]="gridOptions">
                </ag-grid-angular>
            </section>
        </div>
        <div class="right">
            <mat-tab-group class="basic-qa-v2-item-list-panel">
                <mat-tab label="Q&A">
                    <mat-list>
                        <h3 mat-subheader>Answers (Total index : {{indexedAnswerKeywordsCnt}})</h3>
                        <mat-list class="indexed-keyword2">
                            <mat-list-item class="indexed-keyword" *ngFor="let key of indexedAnswerKeywords" (click)="filterByKeyword(key[0], 'answer')">{{key[0] + '(' + key[1] + ')'}}</mat-list-item>
                        </mat-list>
                        <mat-divider style="margin-top:15px"></mat-divider>
                        <h3 mat-subheader>Questions (Total index : {{indexedQuestionKeywordsCnt}})</h3>
                        <mat-list class="indexed-keyword2">
                            <mat-list-item class="indexed-keyword" *ngFor="let key of indexedQuestionKeywords" (click)="filterByKeyword(key[0], 'questionStringfy')">{{key[0] + '(' + key[1] + ')'}}</mat-list-item>
                        </mat-list>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Attr & Tag">
                    <mat-list>
                        <h3 mat-subheader>Tags</h3>
                        <mat-list-item class="indexed-keyword" *ngFor="let key of objectKeys(indexedTagKeywords)" (click)="filterByKeyword(key, 'tagStringfy')">{{key + '(' + indexedTagKeywords[key] + ')'}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>Attribute1</h3>
                        <mat-list-item class="indexed-keyword" *ngFor="let key of objectKeys(indexedAttr1Keywords)" (click)="filterByKeyword(key, 'attr1')">{{key + '(' + indexedAttr1Keywords[key] + ')'}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>Attribute2</h3>
                        <mat-list-item class="indexed-keyword" *ngFor="let key of objectKeys(indexedAttr2Keywords)" (click)="filterByKeyword(key, 'attr2')">{{key + '(' + indexedAttr2Keywords[key] + ')'}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>Attribute3</h3>
                        <mat-list-item class="indexed-keyword" *ngFor="let key of objectKeys(indexedAttr3Keywords)" (click)="filterByKeyword(key, 'attr3')">{{key + '(' + indexedAttr3Keywords[key] + ')'}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>Attribute4</h3>
                        <mat-list-item class="indexed-keyword" *ngFor="let key of objectKeys(indexedAttr4Keywords)" (click)="filterByKeyword(key, 'attr4')">{{key + '(' + indexedAttr4Keywords[key] + ')'}}</mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Layers">
                    <mat-list>
                        <h3 mat-subheader>Layer1</h3>
                        <mat-list-item class="indexed-keyword" *ngFor="let key of objectKeys(indexedLayer1Keywords)" (click)="filterByKeyword(key, 'layer1.name')">{{key + '(' + indexedLayer1Keywords[key] + ')'}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>Layer2</h3>
                        <mat-list-item class="indexed-keyword" *ngFor="let key of objectKeys(indexedLayer2Keywords)" (click)="filterByKeyword(key, 'layer2.name')">{{key + '(' + indexedLayer2Keywords[key] + ')'}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>Layer3</h3>
                        <mat-list-item class="indexed-keyword" *ngFor="let key of objectKeys(indexedLayer3Keywords)" (click)="filterByKeyword(key, 'layer3.name')">{{key + '(' + indexedLayer3Keywords[key] + ')'}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>Layer4</h3>
                        <mat-list-item class="indexed-keyword" *ngFor="let key of objectKeys(indexedLayer4Keywords)" (click)="filterByKeyword(key, 'layer4.name')">{{key + '(' + indexedLayer4Keywords[key] + ')'}}</mat-list-item>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
