<mat-toolbar class="mlt-toolbar-upsert">
    <div>
        <button mat-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <a class="toolbar-title">
            Basic QA V2 item detail
        </a>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="goEdit()">Edit</button>
    </div>

</mat-toolbar>
<div class="mlt-mainbody">
    <div class="item-detail">

        <mat-card class="mat-card-style">
            <div class="box-size">
                <mat-card-title class="title">Answer information</mat-card-title>
                <div class="content-data">
                    <mat-card-content class="left">Id</mat-card-content>
                    <mat-card-content class="right">{{answer?.id}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Answer</mat-card-content>
                    <mat-card-content class="right">{{answer?.answer}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Category</mat-card-content>
                    <mat-card-content class="right">{{answer?.category?.name}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Source</mat-card-content>
                    <mat-card-content class="right">{{answer?.source || '-'}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Summary</mat-card-content>
                    <mat-card-content class="right">{{answer?.summary || '-'}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Attribute 1</mat-card-content>
                    <mat-card-content class="right">{{answer?.attr1 || '-'}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Attribute 2</mat-card-content>
                    <mat-card-content class="right">{{answer?.attr2 || '-'}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Attribute 3</mat-card-content>
                    <mat-card-content class="right">{{answer?.attr3 || '-'}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Attribute 4</mat-card-content>
                    <mat-card-content class="right">{{answer?.attr4 || '-'}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Layer 1</mat-card-content>
                    <mat-card-content class="right">{{answer?.layer1?.name || '-'}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Layer 2</mat-card-content>
                    <mat-card-content class="right">{{answer?.layer2?.name || '-'}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Layer 3</mat-card-content>
                    <mat-card-content class="right">{{answer?.layer3?.name || '-'}}</mat-card-content>
                </div>
                <div class="content-data">
                    <mat-card-content class="left">Layer 4</mat-card-content>
                    <mat-card-content class="right">{{answer?.layer4?.name || '-'}}</mat-card-content>
                </div>

                <div class="content-data">
                    <mat-card-content class="left">Tag</mat-card-content>
                    <mat-card-content class="right">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let tag of answer?.tags">
                                {{tag.name}}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>


        <mat-card class="mat-card-style">
            <div class="box-size">
                <mat-card-title class="title" style="margin-bottom:0px;">Question List</mat-card-title>
                <ag-grid-angular
                        #agGrid
                        style="width: 100%; height: 400px;"
                        class="ag-theme-balham"
                        [enableSorting]="true"
                        [enableFilter]="true"
                        [rowData]="rowData"
                        [enableColResize]="true"
                        [colResizeDefault]="colResizeDefault"
                        [columnDefs]="columnDefs"
                        rowSelection="multiple"
                >
                </ag-grid-angular>
            </div>
        </mat-card>
    </div>
</div>
