<mat-toolbar class="mlt-toolbar-upsert">
    <div>
        <button mat-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="toolbar-title">
      BasicQA V2 {{upsertFlag}} : {{categoryName}}
    </span>
    </div>
    <div>
        <button mat-flat-button color="primary" (click)="qaSetSave()" [disabled]="invalidFlag">Save</button>
    </div>

</mat-toolbar>
<div class="mlt-mainbody">
    <div class="item-upsert-form">
        <mat-card class="mat-card-style">
            <div class="box-size">
                <mat-card-title class="title">Answer</mat-card-title>
                <div class="content-data">
                    <mat-list style="width: 100%">
                        <mat-list-item>
                            <mat-form-field style="width:32%">
                                <input matInput placeholder="Answer" (change)="checkValid()"
                                       [(ngModel)]="answerEntity.answer" required>
                            </mat-form-field>
                            <mat-form-field style="margin-left: 30px; width:32%">
                                <input matInput placeholder="Source" (change)="checkValid()"
                                       [(ngModel)]="answerEntity.source">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-form-field style="width:66%">
                                <input matInput placeholder="Summary" (change)="checkValid()"
                                       [(ngModel)]="answerEntity.summary">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-form-field class="select-box-left" style="width:15%; margin-right: 30px;"
                                            floatLabel="never">
                                <mat-select placeholder="Layer1" [(ngModel)]="selectedLayer1Id">
                                    <mat-option *ngFor="let layer1 of layer1Entities; let i = index;"
                                                [value]="layer1.id">
                                        {{layer1.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="select-box-left" style="width:15%; margin-right: 30px;"
                                            floatLabel="never">
                                <mat-select placeholder="Layer2" [(ngModel)]="selectedLayer2Id">
                                    <mat-option *ngFor="let layer2 of layer2Entities; let i = index;"
                                                [value]="layer2.id">
                                        {{layer2.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="select-box-left" style="width:15%; margin-right: 30px;"
                                            floatLabel="never">
                                <mat-select placeholder="Layer3" [(ngModel)]="selectedLayer3Id">
                                    <mat-option *ngFor="let layer3 of layer3Entities; let i = index;"
                                                [value]="layer3.id">
                                        {{layer3.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="select-box-left" style="width:15%; margin-right: 30px;"
                                            floatLabel="never">
                                <mat-select placeholder="Layer4" [(ngModel)]="selectedLayer4Id">
                                    <mat-option *ngFor="let layer4 of layer4Entities; let i = index;"
                                                [value]="layer4.id">
                                        {{layer4.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-form-field style="width:32%">
                                <input matInput placeholder="Attribute 1" (change)="checkValid()"
                                       [(ngModel)]="answerEntity.attr1">
                            </mat-form-field>
                            <mat-form-field style="margin-left: 30px; width: 32%">
                                <input matInput placeholder="Attribute 2" (change)="checkValid()"
                                       [(ngModel)]="answerEntity.attr2">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-form-field style="width:32%">
                                <input matInput placeholder="Attribute 3" (change)="checkValid()"
                                       [(ngModel)]="answerEntity.attr3">
                            </mat-form-field>
                            <mat-form-field style="margin-left: 30px; width:32%">
                                <input matInput placeholder="Attribute 4" (change)="checkValid()"
                                       [(ngModel)]="answerEntity.attr4">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-form-field style="width:16%">
                                <input matInput placeholder="Tag"
                                       [matChipInputFor]="chipList"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="addTag($event)"
                                       [formControl]="tagControl" [matAutocomplete]="auto"
                                />
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let tag of filteredTagOptions | async" [value]="tag.name">
                                        {{tag.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let tag of inputTags" [selectable]="selectable"
                                          [removable]="removable" (remove)="removeTag(tag)">
                                    {{tag.name}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-card>
        <mat-card class="mat-card-style">
            <div class="box-size">
                <mat-card-title class="title" style="margin-bottom:0px;">Question
                    <button mat-button color="primary" style="float: right;" (click)="deleteQuestionRow()">
                        <mat-icon class="color">remove_circle_outline</mat-icon>
                        DELETE
                    </button>
                    <button mat-button color="primary" style="float: right;" (click)="addQuestionRow()">
                        <mat-icon class="color">add_circle_outline</mat-icon>
                        ADD
                    </button>
                </mat-card-title>
                <div class="content-data">
                    <mat-list style="width: 100%; padding-top:0px;">
                        <ag-grid-angular
                                #agGrid style="width: 100%; height: 400px;" class="ag-theme-balham"
                                id="myGrid"
                                [enableColResize]="true"
                                [enableCellChangeFlash]="true"
                                [gridOptions]="gridOptions">
                        </ag-grid-angular>
                    </mat-list>
                </div>
            </div>
        </mat-card>
    </div>
</div>