<div class="mlt-root" fxLayout="row">
  <!-- for Other Components -->
  <div class="mlt-layout" fxFlex>

    <!-- body -->
    <mat-sidenav-container>

      <!-- top side navi contents -->
      <mat-sidenav class="mlt-sidenav" #sideNav mode="over">
        <mat-list class="mlt-brand-side">
          <mat-list-item>
            <img mat-list-avatar src="/assets/img/maum_favicon/favicon64.ico">
            <span mat-line class="mlt-brand-title-side">MLT</span>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <mat-nav-list>
          <ng-container *ngFor="let nav of menus">
            <ng-container *ngIf="nav['visible'] === true">
              <ng-container *ngIf="nav.path != ''">
                <mat-list-item mat-ripple (mousedown)="goto(navs, nav)"
                               [ngClass]="nav.active ? 'active' : ''">
                  <mat-icon>{{nav.data.nav.icon}}</mat-icon>
                  <span mat-line>{{nav.data.nav.name}}</span>
                </mat-list-item>
              </ng-container>
            </ng-container>
          </ng-container>
        </mat-nav-list>

      </mat-sidenav>

      <!-- top navi container -->
      <div class="mlt-main-container">

        <!-- top navi -->
        <mat-toolbar class="mlt-topnav" color="primary" [hidden]="hasNoLayout">
          <div class="mlt-brand" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon (click)="sideNav.toggle()">menu</mat-icon>
            <span class="mlt-brand-title" fxFlex="none" (click)="goHome()">MLT</span>
          </div>

          <div fxFlex>
            <div style="float:right">
              <!-- workspace 1개로 고정, 변경못하도록 함-->
              <!--<mat-form-field class="mlt-workspace" [floatLabel]="'never'">-->
              <!--<mat-select placeholder="workspace" [(ngModel)]="selectedId"-->
              <!--(change)="changeWorkspace()">-->
              <!--<mat-option *ngFor="let item of workspace; let i=index" [value]="item.id">-->
              <!--{{ item.name }}-->
              <!--</mat-option>-->
              <!--</mat-select>-->
              <!--</mat-form-field>-->
            </div>
          </div>

          <div class="mlt-tools" fxFlex="none" fxLayout="row" fxLayout-align="end center">
            <div fxFlex></div>

            <mat-icon fxFlex="none" [matMenuTriggerFor]="matMenu" (click)="profile()">
              account_circle
            </mat-icon>
            <mat-menu #matMenu="matMenu">
              <button mat-menu-item>
                <span style="font-weight:bolder;" (click)="updateProfile()">
                  <ng-container *ngIf="user != null">
                    {{user.username}}님
                  </ng-container>
                </span>
              </button>
              <button mat-menu-item (click)="signOut()">
                <span>Logout</span>
              </button>
            </mat-menu>
          </div>
        </mat-toolbar>

        <!-- contents -->
        <div fxLayout="row">

          <!-- sidebar -->
          <ng-container *ngIf="hasNoSidebar != true">
            <div class="mlt-sidebar" fxFlex="none" [hidden]="isEmptyObject(currentSideBar)">
              <ng-container *ngIf="currentSideBar['data']">
                <mat-list class="mlt-sidebar-header">
                  <a mat-list-item>
                    <mat-icon>{{currentSideBar?.data.nav.icon}}</mat-icon>
                    <span mat-line>{{currentSideBar?.data.nav.name}}</span>
                  </a>
                </mat-list>
              </ng-container>

              <mat-divider></mat-divider>

              <app-sidebar [sidebarChild]="sidebarChild"
                           [root]="sidebarChild"
                           [parentPath]="parentPath+'/'+currentSideBar['path']"></app-sidebar>
            </div>
          </ng-container>
          <!-- nested component... -->
          <div fxFlex class="mlt-main">
            <router-outlet></router-outlet>
          </div>

          <!-- loading... -->
          <!--<div class="rolling" fxFlex></div>-->
        </div>

      </div>

    </mat-sidenav-container>
  </div>
</div>
