div.root {
  border-style: groove;
  //width: 80%;

}

span.lead {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;

}

span.updated {
  float: right;
  margin-right: 200px;
}

span.insert {
  margin-left: 20px;
  color: blue;
}

span.update {
  margin-left: 20px;
  color: green;
}

span.delete {
  margin-left: 20px;
  color: red;
}

h2.h {
  font-weight: bold;
  margin-left: 20px;
}

mat-form-field.start {
  margin-left: 20px;
}

mat-form-field.end {
  margin-left: 20px;
}

.history .mat-list-item {
  height: 60px;
}

.history {
  border-top: 1px solid #d8d8d8;

}

.no {

}

