<mat-toolbar class="mlt-toolbar">
  <span>Indexing History</span>
  <mat-form-field class="mlt-input" style="margin-left:20px">
    <input matInput [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="fromDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="mlt-input" style="margin-left:20px">
    <input matInput [matDatepicker]="picker2" placeholder="Choose a date" [(ngModel)]="toDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <button mat-button color="primary" (click)="getDataList(0)">
    Search
  </button>

</mat-toolbar>
<div class="mlt-mainbody">
  <section>
    <h2>indexing history</h2>

    <app-table #tableComponent [rows]="seletedHistory" [headers]="header"
               [dataSource]="dataSource" [length]="length"
               (outputPaginator)="getPaginator($event)"
               (outputSelectedHeader)="orderByHeader($event)"></app-table>

  </section>

</div>
