<mat-toolbar class="mlt-toolbar">
  <div>
    <a class="toolbar-title">
      Schedule
    </a>

  </div>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <div class="mlt-title">Manual Execute</div>

    <span>
      <button id="indexingButton" mat-raised-button color="primary"
              (click)="manualExecuteSchedule()">Indexing</button>
      <!--<button mat-raised-button color="warn" (click)="manualStopSchedule()">Stop</button>-->
    </span>
  </section>

  <section>
    <div class="mlt-title">Indexing Schedule</div>
    <mat-radio-group (change)="onChangePeriod()" [(ngModel)]="selectedPeriod">
      <mat-radio-button class="period-list" *ngFor="let period of periods" [value]="period">
        {{period}}
      </mat-radio-button>
    </mat-radio-group>

    <div>


      <mat-form-field id="selectDayOfWeekList" class="select-period-list">
        <mat-select placeholder="Select Day Of Week" [(ngModel)]="selectedDayOfweek">
          <mat-option *ngFor="let dayOfWeek of dayOfWeeks" [value]="dayOfWeek.value">
            {{ dayOfWeek.sValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="mlt-button" mat-raised-button color="primary"
              (click)="onClickAddButton('DayOfWeek')" id="periodAddButton">
        Add
      </button>
      <mat-form-field id="selectHourList" class="select-period-list select-hour">
        <mat-select placeholder="Select Hour" [(ngModel)]="selectedHour">
          <mat-option *ngFor="let hour of hours" [value]="hour.value">
            {{ hour.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onClickAddButton('Hour')"
              id="hourAddButton">
        Add
      </button>
      <mat-form-field id="selectMinuteList" class="select-period-list select-minute">
        <mat-select placeholder="Select Minute" [(ngModel)]="selectedMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute.value">
            {{ minute.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onClickAddButton('Minute')"
              id="minuteAddButton">
        Add
      </button>
    </div>


    <app-table
      [isShowPaginator]="false"
      #tableComponent [rows]="scheduleEntities" [headers]="header"
      [dataSource]="dataSource"></app-table>

    <span>
    <button mat-raised-button color="primary" (click)="onClickResetButton()">Reset</button>
      <button mat-raised-button color="primary" (click)="onClickApplyButton()">Apply</button></span>
  </section>
</div>
