<mat-nav-list>
  <ng-container *ngFor="let child of sidebarChild">
    <ng-container *ngIf="child.path != ''">
      <ng-container *ngIf="child.data">
        <ng-container *ngIf="child['visible'] !== 'none'">
          <mat-list-item
              [ngClass]="(child.active ? 'active':'') + ' ' + (child.children ? 'hasChildren':'') + ' ' + ('depth-'+ dept)"
              (mousedown)="click(child, $event)">
            <mat-icon *ngIf="!child.children && dept!=1" mat-list-icon
                      [ngClass]="{empty: !child.data.nav.icon}">{{child.data.nav.icon ||
              'dashboard'}}
            </mat-icon>
            <span mat-line>
            {{child.data.nav.name}}
          </span>
            <mat-icon *ngIf="child.children">{{child.open ? 'expand_more' : 'expand_less'}}
            </mat-icon>
            <mat-icon *ngIf="!child.children && child.data.nav.icon && dept==1">
              {{child.data.nav.icon
              || 'dashboard'}}
            </mat-icon>
          </mat-list-item>
        </ng-container>
      </ng-container>
      <div *ngIf="child.children" [hidden]="!child.open ? true : false">
        <app-sidebar [sidebarChild]="child.children"
                     [root]="root"
                     [parentPath]="parentPath+'/'+child.path"
                     [dept]="dept+1"></app-sidebar>
      </div>
    </ng-container>
  </ng-container>
</mat-nav-list>
