/*
.mat-list-1{
  font-size: 14px !important;
  margin-left: 10px !important;
  height: 40px !important;
}

.mat-icon-1{
  height: 35px !important;
}
.mat-icon-1{
  height: 35px !important;
  width: 31px !important;
  font-size: 20px !important;
}


.mat-list-2{
  font-size: 14px !important;
  margin-left: 30px !important;
  height: 40px !important;
}

.mat-icon-2{
  height: 35px !important;
}
.mat-icon-2{
  height: 35px !important;
  width: 31px !important;
  font-size: 20px !important;
}
*/
