<section style="width:500px;">
  <header>
    <h2 *ngIf="role =='edit'">Update Ending PostPosition Dic Dictionary</h2>
    <h2 *ngIf="role == 'add'">Add Ending PostPosition Dic Dictionary</h2>
  </header>

  <main>
    <section style="width:100%">
      <mat-form-field style="width:60%">
        <input matInput placeholder="Representation Word"
               [(ngModel)]="endingPostPositionDic.representation"
               rows="1"
               [formControl]="representationWordValidator" required
               (keyup)="checkInvalid($event)">
        <mat-error *ngIf="representationWordValidator.invalid">
          <ng-container *ngIf="representationWordValidator.getError('duplicate')">
            Already exist
          </ng-container>
          <ng-container *ngIf="!representationWordValidator.getError('duplicate')">
            Enter Value
          </ng-container>
        </mat-error>
      </mat-form-field>
    </section>

    <section style="width:100%">
      <mat-radio-group style="width:40%" name="endingPostPositionDic.type"
                       [(ngModel)]="endingPostPositionDic.type"
                       [formControl]="typeValidator"
                       (change)="checkInvalid($event)" required>
        <mat-radio-button value="E">Ending</mat-radio-button>
        <mat-radio-button value="P">Post Position</mat-radio-button>
      </mat-radio-group>
    </section>


    <section style="width:100%">
      <mat-form-field style="width:60%">
        <input matInput placeholder="word" [(ngModel)]="word" rows="1"
               (keyup)="checkInvalid($event)" [formControl]="wordValidator">
        <mat-error *ngIf="wordValidator.invalid">
          <ng-container *ngIf="wordValidator.getError('duplicate')">
            Already exist
          </ng-container>
          <ng-container *ngIf="!wordValidator.getError('duplicate')">
            Enter Value
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-icon color="primary" (click)="addWord()" style="cursor: pointer">add_circle_outline
      </mat-icon>
    </section>

    <section style="width:100%;">
      <h4>word List</h4>
      <mat-list style="height:350px; overflow:scroll; overflow-x:hidden;">
        <ng-container
          *ngFor="let endingPostPositionDicRelEntity of endingPostPositionDic.endingPostPositionDicRelEntities">
          <mat-list-item>
            <div style="width:95%">
              {{endingPostPositionDicRelEntity.word}}
            </div>
            <div style="width:5%">
              <mat-icon color="primary" style="cursor: pointer"
                        (click)="removeRel(endingPostPositionDicRelEntity)">
                remove_circle_outline
              </mat-icon>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </section>
  </main>
  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
    <button *ngIf="role =='edit'" mat-button color="warn" type="button" (click)="remove()">
      Remove
    </button>
    <button *ngIf="role =='edit'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="update()">Edit
    </button>
    <button *ngIf="role =='add'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="add()">Add
    </button>
  </footer>
</section>
