<mat-toolbar class="mlt-toolbar">
  <span>Query Paraphrases</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <mat-card-title>
      Query Paraphrases
      <mat-form-field class="mlt-input" [floatLabel]="'never'">
        <input matInput placeholder="Title" [(ngModel)]="searchKeyword"
               (keyup)="getParaphrases(0)">
      </mat-form-field>
      <button mat-button (click)="removeParaphrase()" [disabled]="removeFlag">
        <mat-icon [ngClass]="removeFlag ? 'mlt-disabled' : 'mlt-not-disabled'">delete_sweep
        </mat-icon>
        <span [ngClass]="removeFlag ? 'mlt-disabled' : 'mlt-not-disabled'">remove</span>
      </button>
    </mat-card-title>
  </section>
  <app-table #paraphraseTableComponent [rows]="paraphrases" [headers]="paraphraseHeader"
             [dataSource]="paraphraseDataSource" [length]="paraphrasePageTotalCount"
             (outputSelectedRow)="goDetail($event)"
             (outputSelectedHeader)="setSortParaphrase($event)"
             (outputCheckedRow)="isChecked($event)"
             (outputPaginator)="setParaphrasePage($event)"></app-table>
</div>
