<mat-toolbar class="mlt-toolbar">
  <span>Synonym Dictionary</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <section class="paraphrase-synonym">
    <p>Edit Synonym words</p>
    <div>
      <mat-form-field style="width:200px; margin-right: 10px;">
        <input matInput [(ngModel)]="searchRepresentativeWord" placeholder="RepresentativeWord">
      </mat-form-field>

      <mat-form-field style="width:200px; margin-right: 10px;">
        <input matInput [(ngModel)]="searchSynonym" placeholder="Synonym">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onClickSearchButton(0)">Search</button>
    </div>
    <div>
      <button mat-button color="primary" *ngFor="let action of actionsArray"
              (click)="doAction(action)"
              [hidden]="action.hidden">
        <mat-icon class="color">{{action.icon}}</mat-icon>
        <span class="color">{{action.text}}</span>
      </button>
      <app-uploader-button [url]="'/paraphrase/synonymDic/uploadFiles/'+workspaceId" #uploader
                           (preUploadCallback)=confirmUpload()
                           (uploadCallback)=onUploadFile()></app-uploader-button>

      <button mat-button color="accent"
              (click)="downloadFile()">
        <mat-icon class="color">file_download</mat-icon>
        <span class="color">Download a File</span>
      </button>
    </div>
    <div fxLayout="row">
      <div fxFlex>
        <app-table class="mlt-table" #tableComponent [headers]="header"
                   [rows]="synonymDicList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputSelectedRow)="popUpsertDialog('edit', $event)"
                   (outputSelectedHeader)="search($event)"
                   (outputPaginator)="setPage($event)">
        </app-table>

      </div>
    </div>
  </section>
</div>
