<section style="width:500px;">
  <header>
    <h2 *ngIf="role =='edit'">Update Synonym Dictionary</h2>
    <h2 *ngIf="role == 'add'">Add Synonym Dictionary</h2>
  </header>

  <main>
    <section style="width:100%">
      <mat-form-field style="width:60%">
        <input matInput placeholder="Representation Word" [(ngModel)]="synonymDic.representation"
               rows="1"
               [formControl]="representationWordValidator" required
               (keyup)="checkInvalid($event)">
        <mat-error *ngIf="representationWordValidator.invalid">
          <ng-container *ngIf="representationWordValidator.getError('duplicate')">
            Already exist
          </ng-container>
          <ng-container *ngIf="!representationWordValidator.getError('duplicate')">
            Enter Value
          </ng-container>
        </mat-error>
      </mat-form-field>
    </section>

    <section style="width:100%">
      <mat-form-field style="width:60%">
        <input matInput placeholder="SynonymWord" [(ngModel)]="synonymWord" rows="1"
               (keyup)="checkInvalid($event)" [formControl]="synonymWordValidator">
        <mat-error *ngIf="synonymWordValidator.invalid">
          <ng-container *ngIf="synonymWordValidator.getError('duplicate')">
            Already exist
          </ng-container>
          <ng-container *ngIf="!synonymWordValidator.getError('duplicate')">
            Enter Value
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-icon color="primary" style="cursor: pointer" (click)="addSynonym()">add_circle_outline
      </mat-icon>
    </section>

    <section style="width:100%;">
      <h4>SynonymWord List</h4>
      <mat-list style="height:350px; overflow:scroll; overflow-x:hidden;">
        <ng-container *ngFor="let synonymDicRelEntity of synonymDic.synonymDicRelEntities">
          <mat-list-item>
            <div style="width:95%">
              {{synonymDicRelEntity.synonymWord}}
            </div>
            <div style="width:5%">
              <mat-icon color="primary" style="cursor: pointer"
                        (click)="removeRel(synonymDicRelEntity)">
                remove_circle_outline
              </mat-icon>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </section>
  </main>
  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
    <button *ngIf="role =='edit'" mat-button color="warn" type="button" (click)="remove()">
      Remove
    </button>
    <button *ngIf="role =='edit'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="update()">Edit
    </button>
    <button *ngIf="role =='add'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="add()">Add
    </button>
  </footer>
</section>
