<div>
  <div
    class="transcript-textarea" contenteditable="true"
    autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
    [style.font-size.px]="fontSize" contenteditable="true"
    #div (input)="onConentChange($event)"></div>
  <div class="transcript-aggregate">
    Total {{text.length}} characters, {{errors.length}} errors.
  </div>
  <!--div class="transcript-tools">
    <button md-raised-button color="primary" (click)="submit()">Submit</button>
    <button md-raised-button color="white" (click)="clearErrors()">Clear Errors</button>
    <button md-button color="white" (click)="zoomIn()" [disabled]="fontSize >= fontMaxSize"><md-icon>zoom_in</md-icon></button>
    <button md-button color="white" (click)="zoomOut()" [disabled]="fontSize <= fontMinSize"><md-icon>zoom_out</md-icon></button>
  </div-->
</div>