/*
.dnn-analysis-analyze .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.dnn-analysis-analyze .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}

.dnn-analysis-analyze .not-disabled {
  color: #3367d6;
}
*/
.select-search-form {
  height:42px;
  padding-left: 10px;
  .select-search-form-input {
    height: 100%;
  }
}
