<mat-toolbar class="mlt-toolbar">
  <span>Result</span>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Model" (keyup)="getAllDnnResults(0)" [(ngModel)]="inputModel">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="File Group" (keyup)="getAllDnnResults(0)"
           [(ngModel)]="inputFileGroup">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Sentence" (keyup)="getAllDnnResults(0)"
           [(ngModel)]="inputSentence">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Category" (keyup)="getAllDnnResults(0)"
           [(ngModel)]="inputCategory">
  </mat-form-field>

  <button mat-button *ngFor="let action of actions" (click)="doAction(action)">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <div class="mlt-title">DNN Analysis Result</div>
    <app-table #tableComponent [rows]="dnnResults" [headers]="header"
               [dataSource]="dataSource" [length]="pageLength"
               (outputPaginator)="setPage($event)"
               (outputSelectedHeader)="search($event)"></app-table>
  </section>
</div>
