<mat-toolbar class="mlt-toolbar">
  <span>Analyze</span>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Group" [(ngModel)]="selectedCode" (change)="getFiles()" (click)="clearGroupSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="groupSelectSearchFormControl">
      </div>
      <mat-option *ngFor="let code of filteredGroups | async" [value]="code">
        {{ code.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Models" [(ngModel)]="selectedModel" (change)="readyToTrain()" (click)="clearModelSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="modelSelectSearchFormControl">
      </div>
      <mat-option *ngFor="let model of filteredModels | async" [value]="model">
        {{ model.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [disabled]="isAnalyze">
    <mat-icon [ngClass]="getClassButton()">{{action.icon}}</mat-icon>
    <span [ngClass]="getClassButton()">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section *ngIf="!(selectedCode && selectedModel)">
    <p *ngIf="models.length === 0">No DNN model has been prepared.</p>
    <p *ngIf="models.length !== 0 && fileGroupCodes.length === 0">Make a file group first.</p>
    <p *ngIf="!selectedCode && fileGroupCodes.length !== 0">Select a file group first.</p>
    <p *ngIf="!selectedModel && selectedCode">Select a DNN second.</p>
  </section>

  <section [hidden]="!selectedCode || !selectedModel">
    <h2>Analyze text files with DNN model.</h2>
    <p>Analyze {{selectedCode?.name}} with {{selectedModel?.name}}</p>
    <app-table #tableComponent [rows]="fileList" [headers]="header"
               [dataSource]="dataSource" [length]="pageLength"
               (outputPaginator)="setPage($event)"
               (outputSelectedHeader)="setSort($event)"></app-table>
  </section>
</div>
