<mat-toolbar class="mlt-toolbar">
  <span>Training Data</span>
  <mat-form-field class="mlt-select" [floatLabel]="'never'">
    <mat-select placeholder="Datasets" [(ngModel)]="selectedDnnDic"
                (change)="changeCategory()" (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let dnnDic of filteredDnnDicList | async" [value]="dnnDic">
        {{ dnnDic.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form *ngIf="selectedDnnDic.id !== undefined">
    <mat-form-field class="mlt-input" [floatLabel]="'never'">
      <input matInput placeholder="Sentence" name="sentence" (keyup)="getDnnDicLineAllList(0)"
             [(ngModel)]="searchSentence">
    </mat-form-field>

    <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>

    <ng-container *ngIf="editable">
    <app-uploader-button [url]="'/ta/dnn/training-data/upload-files'" accept=".txt"
                         [data]="selectedDnnDic.id"
                         (uploadCallback)=onUploadFile()></app-uploader-button>
    </ng-container>
  </form>
</mat-toolbar>

<div class="mlt-mainbody">
  <section *ngIf="selectedDnnDic.id === undefined">
    <p>Select Dataset first.</p>
  </section>

  <section [hidden]="selectedDnnDic.id == undefined">
    <h2>Dataset {{selectedDnnDic.name}}</h2>
    <p>Edit dataset used in DNN training.</p>
    <div fxLayout="row">
      <app-tree style="margin-right: 10px;" fxFlex="none" [nodes]="categories" [editable]="editable"
                [callback]="categoryCallback" #appTree></app-tree>
      <div fxFlex>
        <app-table class="mlt-table" #lineTableComponent [headers]="header" [rows]="dnnDicLineList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputPaginator)="setPage($event)" (outputRowInput)="changeSentence($event)">
        </app-table>
      </div>
    </div>
  </section>

  <section *ngIf="selectedDnnDic.id !== undefined">
    <app-git #gitComponent
             [getTitle]=selectedDnnDic.name
             [getCommitListUrl]="'/ta/dnn/training-data/getCommitList'"
             [getDiffUrl]="'/ta/dnn/training-data/getDiff'"
             [getFileByCommitUrl]="'/ta/dnn/training-data/getFileByCommit'"
             [fileId]="selectedDnnDic?.id"></app-git>
  </section>
</div>
