/*
.dnn-training-data .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.dnn-training-data .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}

.dnn-training-data .input {
  margin-left: 15px;
  font-size: 14px;
}

.dnn-training-data .tip {
  border-top: 1px solid #eee;
  margin-top: 20px;
  p {
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin: 15px 0 10px 0;
    mat-icon {
      vertical-align: -4px;
      font-size: 20px;
      color: #333;
    }
    small {
      margin-left: 10px;
      color: #777;
      font-size: 13px;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #555;
    li {
      line-height: 160%;
      b {
        width: 124px;
        color: #333;
        display: inline-block;
      }
    }
  }
}

.dnn-training-data .button{
  margin-bottom: 10px;
  margin-right: 10px;
}

.dnn-training-data-bottom {
  width:100%;
  border: 1px solid #d3d3d3;
}
.dnn-training-data-bottom .mat-list-item {
  border-bottom: 1px solid #d3d3d3;
}

.dnn-training-data-bottom .dnn-training-data-left-select {
  width:45%;
  float: left;
  border-right: 1px solid #d3d3d3;
  margin-right: 20px;
}

.dnn-training-data-bottom .dnn-training-data-right-select {
  width:53%;
  float: left;
}

.dnn-training-data .tree-container {
  width: 300px;
  height: 300px;
  margin-right: 10px;

  .tree-content {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #e5e5e5;
    border-bottom-width: 2px;

    .tree-empty {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.8);
      text-align: center;
      margin: 50px 0;
      width: 300px;
    }
  }
  .tree-tools {
    cursor: default;

    button {
      font-size: 12px;
      color: rgba(0, 0, 0, .8);
      margin: 5px;
      min-width: 50px;
    }
  }
}
*/

.select-search-form {
  height:42px;
  padding-left: 10px;
  .select-search-form-input {
    height: 100%;
  }
}
