<mat-toolbar class="mlt-toolbar">
  <span>Test</span>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="DNN" [(ngModel)]="selectedModel"  (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let dnnModel of filteredDnnModels | async" [value]="dnnModel">
        {{ dnnModel.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-toolbar>

<div class="mlt-mainbody">
  <section *ngIf="!selectedModel">
    <p *ngIf="dnnModels.length === 0">No DNN model has been prepared.</p>
    <p *ngIf="!selectedModel">First select Dictionary.</p>
  </section>


  <section *ngIf="selectedModel">
    <h2>Analyze text with DNN model.</h2>
    <p>Provide text to test DNN processing with {{selectedModel.name}}</p>

    <mat-card>
      <mat-card-content>
        <div class="label">Text</div>
        <mat-form-field floatLabel="never"
                        class="mlt-text-area-field">
            <textarea matInput placeholder="&nbsp;Enter text.."
                      class="mlt-text-area" [(ngModel)]="textData" (keyup)="isSubmit()"
                      [formControl]="textFormControl" [errorStateMatcher]="matcher"></textarea>
          <mat-error *ngIf="textFormControl.hasError('required')">Please input text.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <div class="rolling" [hidden]="!loading" style="height:30px"></div>
      <mat-card-actions class="gray" [hidden]="loading">
        <button mat-raised-button color="primary"
                (click)="submit()" [disabled]="submitButton">Submit
        </button>
      </mat-card-actions>
    </mat-card>

  </section>

  <section [hidden]="rows.length === 0">
    <app-table #tableComponent [headers]="header" [rows]="rows" [isShowPaginator]="false"
               [dataSource]="dataSource" (outputSelectedHeader)="sortHeader($event)"></app-table>
  </section>
</div>
