<mat-toolbar class="mlt-toolbar">
  <span>File Management</span>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="File Group" [(ngModel)]="selectedCode" (change)="loadTableData()" (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option [value]="''">All</mat-option>
      <mat-option *ngFor="let code of filteredFileGroupCodes | async" [value]="code.id">
        {{ code.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button *ngFor="let action of fileGroupAction" (click)="doAction(action)"
          [hidden]="action.hidden">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>

</mat-toolbar>

<div class="mlt-mainbody">
  <section [hidden]="selectedCode === undefined">
    <mat-card-title>Group Files
      <mat-form-field class="mlt-input" floatLabel="never">
        <input matInput placeholder="Name" [(ngModel)]="groupKeyword"
               (keyup)="getGroupFiles($event.target.value,0)">
      </mat-form-field>

      <button mat-button *ngFor="let action of groupFilesAction" (click)="doAction(action)"
              [hidden]="action.hidden">
        <mat-icon color="primary">{{action.icon}}</mat-icon>
        <span style="color: #3b78e7">{{action.text}}</span>
      </button>
    </mat-card-title>
    <app-table #groupFileTableComponent [rows]="groupFiles" [headers]="fileGroupHeader"
               [dataSource]="groupFileDataSource" [length]="groupFilePageTotalCount"
               (outputSelectedRow)="downloadFile($event)"
               (outputSelectedHeader)="setSortGroupFiles($event)"
               (outputPaginator)="setGroupFilePage($event)"></app-table>
  </section>

  <section>
    <mat-card-title>Files out of the group
      <mat-form-field class="mlt-input" floatLabel="never">
        <input matInput placeholder="Name" [(ngModel)]="fileKeyword"
               (keyup)="getFiles($event.target.value, 0)">
      </mat-form-field>

      <button mat-button *ngFor="let action of filesAction" (click)="doAction(action)"
              [hidden]="action.hidden">
        <mat-icon color="primary">{{action.icon}}</mat-icon>
        <span style="color: #3b78e7">{{action.text}}</span>
      </button>
    </mat-card-title>

    <app-table #fileTableComponent [rows]="files" [headers]="fileHeader"
               [dataSource]="fileDataSource" [length]="filePageTotalCount"
               (outputSelectedRow)="downloadFile($event)"
               (outputSelectedHeader)="setSortFiles($event)"
               (outputPaginator)="setFilePage($event)"></app-table>
  </section>

  <section>
    <mat-card-title>Upload Files</mat-card-title>
    <p>Upload text files to be used in transcribe.</p>

    <app-uploader [url]="'/ta/file-manage/upload-files'" accept=".txt"
                  (uploadCallback)=getFiles(null)></app-uploader>

  </section>
</div>
