/*
.analysis-test .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.analysis-test .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}

.analysis-test .text-area-field {
  width: 100%;
}

.analysis-test .label {
  cursor: default;
  margin: 12px 0 6px 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.analysis-test .text-area-field .text-area {
  height: 500px;
  border: 1px solid #d3d3d3;
}
*/

.select-search-form {
  height:42px;
  padding-left: 10px;
  .select-search-form-input {
    height: 100%;
  }
}
