<mat-toolbar class="mlt-toolbar">
  <span>Dictionary</span>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Dictionary" [(ngModel)]="selectedDictionary"
                (change)="changeCategory()" (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let data of filteredHmdDicList | async" [value]="data">
        {{ data.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form [hidden]="!selectedDictionary">
    <mat-form-field class="mlt-input" floatLabel="never">
      <input matInput placeholder="Rule" name="rule" (keyup)="getHmdDictionaryLineAllList(0)"
             [(ngModel)]="searchRule">
    </mat-form-field>

    <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>

    <ng-container *ngIf="editable">
      <app-uploader-button [url]="'/ta/hmd/dic/upload-files'" accept=".txt" [data]="selectedDictionary.id"
                           (uploadCallback)=onUploadFile()></app-uploader-button>

    </ng-container>
  </form>
</mat-toolbar>

<div class="mlt-mainbody">
  <section *ngIf="selectedDictionary">
    <h2>Dictionary {{selectedDictionary.name}}</h2>
    <p>Edit dictionaries used in HMD process.</p>
    <div fxLayout="row">

      <app-tree style="margin-right: 10px;" fxFlex="none" [nodes]="categories" [editable]="editable"
                [callback]="categoryCallback" #appTree></app-tree>
      <div fxFlex>
        <app-table class="mlt-table" #lineTableComponent [headers]="header"
                   [rows]="hmdDictionaryLineList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputPaginator)="setPage($event)" (outputRowInput)="changeRule($event)">
        </app-table>
        <div class="mlt-tip" [hidden]="!editable">
          <p (click)="tipsVisible = !tipsVisible">
            <mat-icon>help_outline</mat-icon>
            HMD Syntax Tip
            <small [hidden]="tipsVisible">(click to show)</small>
          </p>
          <ul [hidden]="!tipsVisible">
            <li><b>기본규칙</b>perfect matching, 단어는 띄어쓰기 단위로 구분</li>
            <li><b>(단어)(단어)</b>And 조건으로 탐지</li>
            <li><b>(단어1|…|단어n)</b>Or 조건으로 탐지</li>
            <li><b>(A)(@B)</b>B는 A보다 뒤에 위치한 단어 탐지</li>
            <li><b>(A)(!B)</b>B가 문장 내에 존재하는 경우 stopword 처리</li>
            <li><b>(A)(+3B)</b>B는 A보다 뒤에 위치한 3어절 내에 있는 단어 탐지</li>
            <li><b>(A)(%B)</b>B가 문장 내에 있는 부분문자열이 B와 일치하는 경우 탐지</li>
          </ul>
        </div>
      </div>
    </div>

    <app-git #gitComponent
             [getTitle]=selectedDictionary.name
             [getCommitListUrl]="'/ta/hmd/dic/getCommitList'"
             [getDiffUrl]="'/ta/hmd/dic/getDiff'"
             [getFileByCommitUrl]="'/ta/hmd/dic/getFileByCommit'"
             [fileId]="selectedDictionary?.id"></app-git>
  </section>

  <section [hidden]="selectedDictionary">
    <p>Select dictionary first.</p>
  </section>
</div>
