<mat-toolbar class="mlt-toolbar">
  <span>Result</span>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Dictionary" (keyup)="getDataList(0)" [(ngModel)]="inputDictionary">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="File Group" (keyup)="getDataList(0)" [(ngModel)]="inputFileGroup">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Sentence" (keyup)="getDataList(0)" [(ngModel)]="inputSentence">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Category" (keyup)="getDataList(0)" [(ngModel)]="inputCategory">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Rule" (keyup)="getDataList(0)" [(ngModel)]="inputRule">
  </mat-form-field>

  <button mat-button *ngFor="let action of actions" (click)="doAction(action)">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <div class="mlt-title">HMD Analysis Result</div>
    <app-table #tableComponent [rows]="analyzedResultData" [headers]="header"
               [dataSource]="dataSource" [length]="length"
               (outputPaginator)="getPaginator($event)"
               (outputSelectedHeader)="orderByHeader($event)"
    ></app-table>
  </section>
</div>
