<mat-toolbar class="mlt-toolbar">
  <span>Analyze</span>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="File Group" [(ngModel)]="selectedFileGroup"
                (change)="onChangeSelectBox()" (click)="clearGroupSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="groupSelectSearchFormControl">
      </div>
      <mat-option *ngFor="let group of filteredFileGroupDicList | async" [value]="group">
        {{ group.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Dictionary" [(ngModel)]="selectedDictionary"
                (change)="onChangeSelectBox()" (click)="clearDictionarySelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="dictionarySelectSearchFormControl">
      </div>
      <mat-option *ngFor="let hmd of filteredHmdDicList | async" [value]="hmd">
        {{ hmd.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button *ngFor="let action of actions" (click)="doAction(action)">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section *ngIf="!(selectedFileGroup && selectedDictionary)">
    <p *ngIf="hmdDicList.length === 0">No HMD dictionary has been applied to the remote server.</p>
    <p *ngIf="hmdDicList.length !== 0 && fileGroupList.length === 0">Make a file group first.</p>
    <p *ngIf="hmdDicList.length !== 0 && fileGroupList.length !== 0">Select a file group first.</p>
  </section>

  <section *ngIf="selectedFileGroup && selectedDictionary">
    <h2>Analyze text files with HMD dictionary</h2>
    <p>Analyze {{selectedFileGroup.viewValue || ''}} with {{selectedDictionary.viewValue || ''}}</p>
    <app-table
      #tableComponent [rows]="fileList" [headers]="header"
      [length]="length"
      [dataSource]="dataSource"
      (outputPaginator)="getPaginator($event)"
      (outputSelectedHeader)="orderByHeader($event)"
    ></app-table>
  </section>
</div>
