<mat-toolbar class="mlt-toolbar">
  <span>Test</span>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Dictionary" [(ngModel)]="selectedDictionary"  (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let dictionary of filteredHmdDicList | async" [value]="dictionary">
        {{ dictionary.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-toolbar>

<div class="mlt-mainbody">
  <section *ngIf="!selectedDictionary">
    <p *ngIf="hmdDicList.length === 0">No HMD dictionary has been applied to the remote server.</p>
    <p *ngIf="!selectedDictionary">First select Dictionary.</p>
  </section>


  <section *ngIf="selectedDictionary">
    <h2>Analyze text with HMD dictionary.</h2>
    <p>Provide text to test HMD processing with {{selectedDictionary.viewValue}}</p>

    <mat-card>
      <mat-card-content>
        <div class="label">Text</div>
        <mat-form-field floatLabel="never"
                        class="mlt-text-area-field">
            <textarea matInput placeholder="&nbsp;Enter text.."
                      class="mlt-text-area" [(ngModel)]="textData"></textarea>
        </mat-form-field>
      </mat-card-content>

      <div class="rolling" [hidden]="!loading" style="height:30px"></div>
      <mat-card-actions class="gray" [hidden]="loading">
        <button mat-raised-button color="primary" type="submit"
                (click)="submit()">Submit
        </button>
      </mat-card-actions>
    </mat-card>

  </section>

  <section [hidden]="testResultData.length == 0">
    <app-table #tableComponent [headers]="header" [rows]="testResultData" [length]="length"
               [dataSource]="dataSource" [isShowPaginator]="false"
               (outputSelectedHeader)="orderByHeader($event)"
    ></app-table>
  </section>
</div>
