<mat-toolbar class="mlt-toolbar">
  <span>Models Management</span>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Name" (keyup)="getList(0)" [(ngModel)]="inputName">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Description" (keyup)="getList(0)" [(ngModel)]="inputDescription">
  </mat-form-field>

  <button mat-button *ngFor="let action of actions" (click)="doAction(action)">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <mat-card-title>Models</mat-card-title>
    <app-table #tableComponent [rows]="data" [headers]="header"
               [length]="length"
               [pageIndex]="pageParam?.pageIndex"
               [dataSource]="dataSource"
               (outputSelectedRow)="editModel($event)"
               (outputSelectedHeader)="setSort($event)"
               (outputPaginator)="getpaginator($event)"
    ></app-table>
  </section>

</div>
