<section>
  <header>
    <h2 *ngIf="data">Update Model Management</h2>
    <h2 *ngIf="!data">Add Model Management</h2>
  </header>

  <form [formGroup]="model" (ngSubmit)="upsertModel()">
    <main>
      <section>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="name">
        </mat-form-field>
      </section>

      <section>
        <mat-form-field>
          <input matInput formControlName="manDesc" placeholder="Description">
        </mat-form-field>
      </section>
      <section>
        <div>
          <mat-checkbox formControlName="hmdUse" class="example-margin">HMD</mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName="dnnUse" class="example-margin">DNN</mat-checkbox>
        </div>
      </section>
      <mat-error *ngIf="addModelInput.invalid">
        {{getErrorMessage()}}
      </mat-error>
    </main>
    <footer>
      <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
      <button mat-button color="primary" type="submit">Submit</button>
    </footer>

  </form>
</section>
