<mat-toolbar class="mlt-toolbar">
  <span>NLP Test</span>
</mat-toolbar>
<div class="mlt-mainbody">
  <section>
    <div>
      <div class="mlt-title">NLP Test Tool</div>
      <div class="mlt-subtitle">Provide text to test NLP processing.</div>

      <mat-form-field>
        <mat-select placeholder="NLP" [(value)]="selectedNlp" (change)="changeNlp()">
          <!--workspace가 현재 kor 일 때 start-->
          <ng-container *ngIf="selectedNlp.langCode === this.appEnum.langCode.kor">
            <mat-option *ngFor="let nlp of korNlps" [value]="nlp">
              {{ nlp.nlpName }}
            </mat-option>
          </ng-container>
          <!--workspace가 현재 kor 일 때 end-->

          <!--workspace가 현재 eng 일 때 start-->
          <ng-container *ngIf="selectedNlp.langCode === this.appEnum.langCode.eng">
            <mat-option *ngFor="let nlp of engNlps" [value]="nlp">
              {{ nlp.nlpName }}
            </mat-option>
          </ng-container>
          <!--workspace가 현재 kor 일 때 end-->
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Split Sentence" [(value)]="selectedSps" (change)="changeNlp()">
          <mat-option *ngFor="let splitSentence of splitSentences" [value]="splitSentence">
            {{ splitSentence.view }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Nlp Analysis Level" [(value)]="selectedLevel" (change)="isValid()">
          <!--nlp3kor 일 때의 옵션 start-->
          <ng-container *ngIf="selectedNlp.nlpName === 'nlp3'">
            <mat-option *ngFor="let level of nlp3Levels" [value]="level">
              {{ level.levelName }}
            </mat-option>
          </ng-container>
          <!--nlp3kor 일 때의 옵션 end-->

          <!--nlp1kor, nlp2kor, nlp2eng 일 때의 옵션 start-->
          <ng-container *ngIf="selectedNlp.nlpName !== 'nlp3'">
            <mat-option *ngFor="let level of otherLevels" [value]="level">
              {{ level.levelName }}
            </mat-option>
          </ng-container>
          <!--nlp1kor, nlp2kor, nlp2eng 일 때의 옵션 end-->

        </mat-select>
      </mat-form-field>

      <div style="display:inline">
        <button mat-button color="accent" type="button" (click)="hiddenFileButton.click()">
          <form hidden="true">
            <input #hiddenFileButton id="file" type="file" (change)="fileUpload()">
          </form>
          <mat-icon>file_upload</mat-icon>
          <span>Upload a File</span>
        </button>
      </div>

      <button mat-button (click)="fileDownload()"
              [disabled]="result === null ? true : false">
        <mat-icon [ngClass]="result === null ? 'disable-download' : 'able-download'">file_download
        </mat-icon>
        <span [ngClass]="result === null ? 'disable-download' : 'able-download'">Download</span>
      </button>
    </div>

    <div *ngIf="selectedNlp.nlpName === 'nlp3'" class="info-nlp3">
      <mat-icon class="info-nlp3-icon">info</mat-icon>
      <span class="info-nlp3-text">NLP3 must selected the level according to the config file.</span>
    </div>

    <mat-card>
      <mat-card-content>
        <div class="mlt-label2">Text</div>
        <mat-form-field floatLabel="never"
                        class="mlt-text-area-field">
            <textarea matInput placeholder="&nbsp;Enter text.."
                      class="mlt-text-area" [(ngModel)]="context"
                      (keyup)="isValid()"
                      [formControl]="textFormControl" [errorStateMatcher]="matcher">
            </textarea>
        </mat-form-field>
      </mat-card-content>

      <div [hidden]="!result" label="Result">
        <div class="test-result" #testResultContainer>
          <pre *ngFor="let document of result" [innerHTML]="document | prettyjson"></pre>
        </div>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                (click)="analyze()" [disabled]="isSubmit">Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</div>
