<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button (click)="back('')">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span> {{dictionary.type.toUpperCase()}} Dictionary : {{dictionary.name}} </span>
  </div>
</mat-toolbar>

<div class="mlt-mainbody">
  <app-git #gitComponent
           [getTitle]=dictionary.name
           [getCommitListUrl]="'/dictionary/' + dictionary.type + '/getCommitList'"
           [getDiffUrl]="'/dictionary/' + dictionary.type + '/getDiff'"
           [getFileByCommitUrl]="'/dictionary/' + dictionary.type + '/getFileByCommit'"
           [fileId]="dictionary?.id"></app-git>
</div>
