<mat-toolbar class="mlt-toolbar">
  <span>Compound</span>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Dictionary" [(ngModel)]="selectedDictionary"
                (change)="getDicLineList(0)">
      <mat-option *ngFor="let dictionary of compoundNounDicList" [value]="dictionary">
        {{ dictionary.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form [hidden]="!isTableHidden">
    <button mat-button *ngFor="let action of initActions" (click)="doAction(action)"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>
  </form>

  <form [hidden]="isTableHidden">
    <mat-form-field class="mlt-input" floatLabel="never">
      <input matInput placeholder="Word" name="word" (keyup)="getDicLineList(0)"
             [(ngModel)]="searchWord">
    </mat-form-field>

    <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>

    <app-uploader-button
      *ngIf="editable"
      [url]="'/dictionary/compound/upload-files'" accept=".txt"
      [data]="selectedDictionary.id"
      (uploadCallback)=onUploadFile()></app-uploader-button>
  </form>

</mat-toolbar>
<!--end tool bar-->


<div class="mlt-mainbody">
  <section [hidden]="!isTableHidden">
    <p *ngIf="compoundNounDicList.length === 0">No Morpheme dictionary has been applied to the
      remote
      server.</p>
    <p *ngIf="!selectedDictionary">Select dictionary first.</p>
  </section>

  <section [hidden]="isTableHidden">
    <h2>Dictionary {{selectedDictionary.name}}</h2>
    <p>Edit compoundNoun dictionary.</p>

    <app-table class="mlt-table" #lineTableComponent [headers]="header"
               [rows]="compoundNounDicLineList"
               [dataSource]="dataSource" [length]="pageLength"
               (outputPaginator)="getPaginator($event)" (outputRowInput)="changeRecord($event)">
    </app-table>

    <app-git #gitComponent
             [getTitle]=selectedDictionary.name
             [getCommitListUrl]="'/dictionary/compound/getCommitList'"
             [getDiffUrl]="'/dictionary/compound/getDiff'"
             [getFileByCommitUrl]="'/dictionary/compound/getFileByCommit'"
             [fileId]="selectedDictionary?.id"></app-git>

  </section>
</div>
