<mat-toolbar class="mlt-toolbar">
  <span>Wise NLU NER Dictionary</span>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Process Type" [(ngModel)]="selectedType"
                (change)="changeProcessType()">
      <mat-option *ngFor="let processType of processTypes" [value]="processType">
        {{ processType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Dictionary" [(ngModel)]="selectedDictionary"
                (change)="getDicLineList()">
      <mat-option *ngFor="let dictionary of wiseNluNerDicList" [value]="dictionary">
        {{ dictionary.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form [hidden]="!isTableHidden">
    <button mat-button *ngFor="let action of initActions" (click)="doAction(action)"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>
  </form>


  <form [hidden]="isTableHidden">
    <mat-form-field class="mlt-input" floatLabel="never">
      <input matInput placeholder="Category" name="category" (keyup)="getDicLineList(0)"
             [(ngModel)]="searchCategory">
    </mat-form-field>
    <mat-form-field class="mlt-input" floatLabel="never">
      <input matInput placeholder="Rule" name="rule" (keyup)="getDicLineList(0)"
             [(ngModel)]="searchRule">
    </mat-form-field>

    <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
            [hidden]="action.hidden" class="wise-ner-edit-mode-buttons">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>

    <app-uploader-button
      *ngIf="editable"
      [url]="'/dictionary/wise-nlu-ner/upload-files'" accept=".txt"
      [data]="selectedDictionary.id"
      (uploadCallback)=onUploadFile()></app-uploader-button>
  </form>

</mat-toolbar>
<!--end tool bar-->

<div class="mlt-mainbody">
  <section [hidden]="!isTableHidden">
    <p *ngIf="!selectedType">First, please selected type.</p>
    <p *ngIf="selectedType && !selectedDictionary">Second, please selected Dictionary</p>
  </section>

  <section [hidden]="isTableHidden">
    <h2>Dictionary {{selectedDictionary.name}}</h2>
    <p>Edit Wise NLU NER Category.</p>
    <p style="color: red" *ngIf="selectedType?.attr === 'PRE_PROCESS'">
      <mat-icon color="primary">info</mat-icon>
      PreProcess Dictionary required Wise NLU NER Category.
    </p>
    <p style="color: red">
      <mat-icon color="primary">info</mat-icon>
      권장 수정 사항 : PostProcess > PreProcess
    </p>
    <div fxLayout="row">
      <div fxFlex>
        <app-table class="mlt-table" #lineTableComponent [headers]="header"
                   [rows]="wiseNluNerDicLineList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputPaginator)="setPage($event)" (outputRowInput)="changeRecord($event)"
                   (outputSelectedHeader)="setSort($event)">
        </app-table>

        <div class="mlt-tip" [hidden]="!editable" style="margin-left: 10px;">
          <p (click)="toolsVisible = !toolsVisible">
            <mat-icon>settings</mat-icon>
            Tools(Converter)
            <small [hidden]="toolsVisible">(click to show)</small>
          </p>
          <ul [hidden]="!toolsVisible">
            <li>
              <div class="tools-converter">
                <div class="converter-left">
                  <mat-form-field>
                    <input matInput placeholder="Word" [(ngModel)]="convertWord">
                  </mat-form-field>
                  <button mat-stroked-button color="primary" (click)="convert()">Converter</button>
                </div>

                <div class="converter-middle">
                  <mat-icon mat-line>arrow_forward</mat-icon>
                </div>

                <div class="converter-right">
                  <div class="converter-result">
                    <ng-container *ngIf="progress === progressState.info">
                      <span><strong>1. Input Word. </strong>(Not Input Regular Expression)</span><br>
                      <span><strong>2. Click converter button.</strong></span><br>
                      <span><strong>3. Result data add a rule.</strong></span><br>
                    </ng-container>

                    <ng-container *ngIf="progress === progressState.progressing">
                      <span>Waiting...</span>
                    </ng-container>

                    <ng-container *ngIf="progress === progressState.result">
                      <span><strong>{{convertResult}}</strong></span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="mlt-tip" [hidden]="!editable" style="margin-left: 10px;">
          <p (click)="tipsVisible = !tipsVisible">
            <mat-icon>help_outline</mat-icon>
            NER Syntax Tip
            <small [hidden]="tipsVisible">(click to show)</small>
          </p>
          <ul [hidden]="!tipsVisible">
            <li><b>기본 규칙</b></li>
            <li><b>Category</b>대분류_세부 분류로 네이밍</li>
            <li><b>Rule</b>정규식패턴 사용</li>
            <li><b>정규식 패턴</b>"형태소/형태소태그@\d+" 반복 사용</li>
            <li><b>@\d+</b>반복할 때마다 사이에 공백을 하나씩 넣어서 사용.</li>
            <li><b>()</b>괄호 안 으로 둘러 쌓인 부분이 개체명으로 인식할 대상</li>
            <li style="color: red; font-size: 12px;">
              <b style="color: red; font-size: 12px;">주의</b>괄호가 아예 없는 경우, 아무것도 인식하지 않는다.
            </li>
            <li><b>Rule Example</b></li>
            <li><b>지난 14일</b>(지나/[A-Z]+@\d+ ᄂ/[A-Z]+@\d+ \d+/SN@\d+ 일/NNB@\d+)</li>
            <li><b>고등어|무정</b>(^(고등어|무정)/NNG@\d+) 의/JKG@\d+ 작가/NNG@\d+</li>
            <li style="color: red; font-size: 12px;">
              <b style="color: red; font-size: 12px;">주의 참고</b>의, 작가 는 ()안에 없으므로, 개체명으로 인식하지 못한다.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <app-git #gitComponent
             [getTitle]=selectedDictionary.name
             [getCommitListUrl]="'/dictionary/wise-nlu-ner/getCommitList'"
             [getDiffUrl]="'/dictionary/wise-nlu-ner/getDiff'"
             [getFileByCommitUrl]="'/dictionary/wise-nlu-ner/getFileByCommit'"
             [fileId]="selectedDictionary?.id"></app-git>

  </section>
</div>
