<mat-toolbar class="mlt-toolbar">
  <span>Wise NLU NER Category</span>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Dictionary" [(ngModel)]="selectedDictionary"
                (change)="getDicLineList()">
      <mat-option *ngFor="let dictionary of wiseNluNerCategoryList" [value]="dictionary">
        {{ dictionary.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form [hidden]="!isTableHidden">
    <button mat-button *ngFor="let action of initActions" (click)="doAction(action)"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>
  </form>


  <form [hidden]="isTableHidden">
    <mat-form-field class="mlt-input" floatLabel="never">
      <input matInput placeholder="Old Category" name="oldCategory" (keyup)="getDicLineList(0)"
             [(ngModel)]="searchOldCategory">
    </mat-form-field>

    <mat-form-field class="mlt-input" floatLabel="never">
      <input matInput placeholder="New Category" name="newCategory" (keyup)="getDicLineList(0)"
             [(ngModel)]="searchNewCategory">
    </mat-form-field>

    <mat-form-field class="mlt-input" floatLabel="never">
      <input matInput placeholder="Word" name="word" (keyup)="getDicLineList(0)"
             [(ngModel)]="searchWord">
    </mat-form-field>

    <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
            [hidden]="action.hidden" class="wise-category-edit-mode-buttons">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>

    <app-uploader-button
      *ngIf="editable"
      [url]="'/dictionary/wise-nlu-ner-category/upload-files'" accept=".txt"
      [data]="selectedDictionary.id"
      (uploadCallback)=onUploadFile()>
    </app-uploader-button>
  </form>

</mat-toolbar>
<!--end tool bar-->

<div class="mlt-mainbody">
  <section [hidden]="!isTableHidden">
    <p *ngIf="wiseNluNerCategoryList.length === 0">No Wise NLU NER dictionary has been applied to
      the
      remote
      server.</p>
    <p *ngIf="!selectedDictionary">Select dictionary first.</p>
  </section>

  <section [hidden]="isTableHidden">
    <h2>Dictionary {{selectedDictionary.name}}</h2>
    <p>Edit Wise NLU NER Dictionary.</p>
    <p style="color: red" *ngIf="selectedDictionary">
      <mat-icon color="primary">info</mat-icon>
      First, Wise NLU NER Category is PreProcess pattern add prerequisites are required.
    </p>
    <div fxLayout="row">
      <div fxFlex>
        <app-table class="mlt-table" #lineTableComponent [headers]="header"
                   [rows]="wiseNluNerCategoryLineList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputPaginator)="setPage($event)" (outputRowInput)="changeRecord($event)"
                   (outputSelectedHeader)="setSort($event)">
        </app-table>
        <div class="mlt-tip" style="margin-left: 10px;">
          <p (click)="tipsVisible = !tipsVisible">
            <mat-icon>help_outline</mat-icon>
            Categories Registration Tips
            <small [hidden]="tipsVisible">(click to show)</small>
          </p>
          <ul [hidden]="!tipsVisible">
            <li><b>카테고리 적용 순서</b></li>
            <li><strong>1. </strong>Wise NLU NER PreProcess 의 pattern을 등록 후 Apply 버튼을 클릭한다.</li>
            <li><strong>2. </strong>TA -> Tools -> NLP Test 화면을 들어간다.</li>
            <li><strong>3. </strong>NLP : NLP3 , NLP Analysis Level: Named Entity 선택 한다.</li>
            <li><strong>4. </strong>Wise NLU NER PreProcess에 등록한 Pattern에 맞게 문장을 입력 후 Submit 버튼을 클릭한다.</li>
            <li><strong>5. </strong>result 결과로 나온 json 파일에 "nes" 항목을 확인한다.</li>
            <li><strong>6. </strong>text가 PreProcess 에 등록한 NE가 맞는지 확인 한다.</li>
            <li><strong>7. </strong>type이 PreProcess 에 등록한 Category가 맞는지 확인 한다.</li>
            <li><strong>8. </strong>Category가 사전에서 등록한 결과와 다를시에 tool로 잡힌 type을 Old Category로 사용한다.</li>
            <li><strong>9. </strong>Pre Process 에서 등록한 신규 태그명을 New Category로 사용한다.</li>
            <li><strong>8. </strong>Pre Process 에서 등록한 패턴에 맞는 text를 Word로 사용한다.</li>
          </ul>
        </div>
      </div>
    </div>

    <app-git #gitComponent
             [getTitle]=selectedDictionary.name
             [getCommitListUrl]="'/dictionary/wise-nlu-ner-category/getCommitList'"
             [getDiffUrl]="'/dictionary/wise-nlu-ner-category/getDiff'"
             [getFileByCommitUrl]="'/dictionary/wise-nlu-ner-category/getFileByCommit'"
             [fileId]="selectedDictionary?.id"></app-git>

  </section>
</div>
