.tag-list {
  font-size: 12px;
  height: 40px;
  cursor: pointer;
}

.corpus-table {
  width: 100%;
  height: 800px;
  tr {
    vertical-align: top;
    mat-list {
      height: 800px;
    }
  }
}

.corpus-table-tag {
  vertical-align: top;
  height: 80%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.mtitle {
  margin-left: 0px;
  margin-right: 50px;
}

::ng-deep .ag-theme-balham .ag-root {
  border: none;
}

.info {
  display: block;
  font-size: 10pt;
  vertical-align: bottom;
  align-items: right;
  text-align: end;
  margin-right: 100px;
}
