.mtitle {
  margin-left: 0px;
  margin-right: 50px;
  padding-bottom: 10px;
  vertical-align: middle;
}

::ng-deep .ag-theme-balham .ag-root {
  border: none;
  margin-left: 0px;
  margin-right: 0px;
}

span {
  vertical-align: middle;
}

.app-btn {
  margin: 10px 50px 10px 10px;
  vertical-align: middle;
}

div > section {
  border-bottom: none !important;
}