<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button (click)="back('')">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <!--POS 사전 정보-->
    <span>{{dictionaryName}} Test Result</span>
  </div>
</mat-toolbar>
<div class="mlt-mainbody">
  <!--파일 관리 목록-->
  <section class="table-section">
    <div>
    </div>
    <ag-grid-angular
        #agGrid style="width: 100%; height: 500px;" class="ag-theme-balham"
        id="myGrid"
        [enableColResize]="true"
        [enableCellChangeFlash]="true"
        [gridOptions]="gridOptions">
    </ag-grid-angular>
  </section>
</div>