<mat-toolbar class="mlt-toolbar">
  <span>Postprocess</span>

  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Dictionary" [(ngModel)]="selectedDictionary"
                (change)="getDicLineList()">
      <mat-option *ngFor="let dictionary of postProcessDicList" [value]="dictionary">
        {{ dictionary.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form [hidden]="!isTableHidden">
    <button mat-button *ngFor="let action of initActions" (click)="doAction(action)"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>
  </form>


  <form [hidden]="isTableHidden">
    <mat-form-field class="mlt-input" floatLabel="never">
      <input matInput placeholder="Category" name="category" (keyup)="getDicLineList(0)" [(ngModel)]="searchCategory">
    </mat-form-field>
    <mat-form-field class="mlt-input" floatLabel="never">
      <input matInput placeholder="Word" name="word" (keyup)="getDicLineList(0)"
             [(ngModel)]="searchWord">
    </mat-form-field>

    <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>

    <app-uploader-button
      *ngIf="editable"
      [url]="'/dictionary/post-process/upload-files'" accept=".txt"
      [data]="selectedDictionary.id"
      (uploadCallback)=onUploadFile()></app-uploader-button>
  </form>

</mat-toolbar>
<!--end tool bar-->


<div class="mlt-mainbody">
  <section [hidden]="!isTableHidden">
    <p *ngIf="postProcessDicList.length === 0">No Morpheme dictionary has been applied to the remote
      server.</p>
    <p *ngIf="!selectedDictionary">Select dictionary first.</p>
  </section>

  <section [hidden]="isTableHidden">
    <h2>Dictionary {{selectedDictionary.name}}</h2>
    <p>Edit postProcess dictionary.</p>

    <app-table class="mlt-table" #lineTableComponent [headers]="header"
               [rows]="postProcessDicLineList"
               [dataSource]="dataSource" [length]="pageLength"
               (outputPaginator)="getPaginator($event)" (outputRowInput)="changeRecord($event)">
    </app-table>

    <app-git #gitComponent
             [getTitle]=selectedDictionary.name
             [getCommitListUrl]="'/dictionary/post-process/getCommitList'"
             [getDiffUrl]="'/dictionary/post-process/getDiff'"
             [getFileByCommitUrl]="'/dictionary/post-process/getFileByCommit'"
             [fileId]="selectedDictionary?.id"></app-git>

  </section>
</div>
