<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <span>Tags for NER Test </span>
  </div>
  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [hidden]="action.hidden" class="mbutton" [id]="action.type">
    <mat-icon [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.icon}}</mat-icon>
    <span [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.text}}</span>
  </button>
</mat-toolbar>

<input type="file" id="selectFile" #uploadFile multiple="true" (change)="getdata($event)"
       hidden="true"/>
<div>
  <ag-grid-angular
    #agGrid style="padding: 24px; width: 95%; height: 600px;" class="ag-theme-balham"
    id="myGrid"
    [enableColResize]="true"
    [enableCellChangeFlash]="true"
    [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>

