<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <span>Corpus for NER Test </span>
  </div>
  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [hidden]="action.hidden" class="mbutton" [id]="action.type">
    <mat-icon [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.icon}}</mat-icon>
    <span [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.text}}</span>
  </button>
</mat-toolbar>
<input type="file" id="selectFile" #uploadFile multiple="true" (change)="getdata($event)"
       hidden="true"/>
<table class="corpus-table">
  <tr>
    <td width="20%" class="corpus-table-tag">
      <mat-list role="list">
        <mat-list-item role="listitem" id="ALL" class='tag-list' (click)="selectFilter('ALL')">ALL
        </mat-list-item>
        <mat-list-item *ngFor="let row of tags" role="listitem" id="{{row}}" class='tag-list'
                       (click)="selectFilter(row)">{{row}}
        </mat-list-item>
      </mat-list>
    </td>
    <td width="80%">
      <span class="info">
        you can use one tag in a sentence, like &lt;ne&gt;tag&lt;\/ne&gt;
      </span>
      <ag-grid-angular
        #agGrid style="padding: 24px; width: 90%; height: 600px;" class="ag-theme-balham"
        id="myGrid"
        [enableColResize]="true"
        [enableCellChangeFlash]="true"
        [gridOptions]="gridOptions">
      </ag-grid-angular>
    </td>
  </tr>
</table>


