<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button (click)="back('')">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span> NER : {{dictionary?.name}}</span>
  </div>
  <!--사전 정보-->
  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [hidden]="action.hidden" [disabled]="action.disabled" class="mbutton" [id]="action.type">
    <mat-icon [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.icon}}</mat-icon>
    <span [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.text}}</span>
  </button>
  <!--테스트 버튼-->
  <button mat-button (click)="nlpTest()" class="mbutton">
    <mat-icon style="color: #EB675E">forward</mat-icon>
    <span style="color: #EB675E">Test</span>
  </button>

</mat-toolbar>

<input type="file" id="selectFile" #uploadFile multiple="true" (change)="getdata($event)"
       hidden="true"/>

<div class="mlt-mainbody">
  <section class="table-section">
    <!--코퍼스 태그 리스트-->
    <mat-chip-list>
      <mat-chip *ngFor="let dic of dictionaries" id="{{dic.name}}" (click)="selectFilter(dic)">
        {{dic.name}}
      </mat-chip>
    </mat-chip-list>
    <!--테이블 결과 테이블-->
    <span class="info">
    Only non-null values will be saved.
    </span>
    <ag-grid-angular
      #agGrid style="width: 95%; height: 500px;" class="ag-theme-balham"
      id="myGrid"
      [enableColResize]="true"
      [enableCellChangeFlash]="true"
      [gridOptions]="gridOptions">
    </ag-grid-angular>
  </section>
</div>

