.wise-ner-edit-mode-buttons {
  padding: 0 5px;
}

.mlt-tip {
  .tools-converter {
    width: 100%;
    height: 100px;
    .converter-left {
      float: left;
      width: 20%;
    }
    .converter-middle {
      float: left;
      width: 3%;
      margin-top: 16px;
      color: #2979ff;
    }
    .converter-right {
      float: left;
      width: 77%;
      height: 100px;
      overflow-y: auto;
      background-color: #d3d3d3;
      .converter-result {
        margin-left: 13px;
        margin-top: 8px;
      }
    }
  }
}
