.mtitle {
  margin-left: 0px;
  margin-right: 50px;
  padding-bottom: 10px;
  vertical-align: middle;
}

::ng-deep .ag-theme-balham .ag-root {
  border: none;
}


.test-area {
  display: flex;
  .test-right {
    width: 60%;
  }
  .test-left {
    width: 25%;
    ::ng-deep mat-card {
      margin: 55px 30px 30px 30px;
      border: 1.0px solid #d3d3d3;
      box-shadow: none;
      align-content: center;
      .checkbox-title {
        margin: 0px 0px 10px 0px;
        text-align: center;
        font-size: 12pt;
      }

      .checkbox-contents {
        margin: 10px 20px 10px 20px;
        display: table-caption;
      }

      mat-checkbox {
        margin: 10px 5px 10px 25px;
        vertical-align: middle;
        span {
          font-size: 10pt;
          margin: 10px 5px 10px 5px;
          vertical-align: middle;
        }
      }
    }

    .btn-area {
      margin-bottom: 10px;
      margin-top: 10px;
      display: grid;
      button {
        margin: 10px 30px 10px 30px !important;
      }
    }
  }
}