/*
.file-management .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.file-management .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}

.file-management .input {
  margin-left: 15px;
  font-size: 14px;
}

.file-management .select-data-to-analyze{
  height: 250px;
  overflow-y: auto;
}

.file-management .stt-analysis-result{
  height: 250px;
  overflow-y: auto;
}
*/

.select-search-form {
  height:42px;
  padding-left: 10px;
  .select-search-form-input {
    height: 100%;
  }
}

