<section class="alert">
  <mat-toolbar [ngClass]="header">
    <mat-toolbar-row>
      <mat-icon style="margin-right: 8px;" [innerHTML]="getIcon()"></mat-icon>
      <h2 *ngIf="title" [innerHTML]="title"></h2>
    </mat-toolbar-row>
  </mat-toolbar>

  <form (ngSubmit)="dialogRef.close(true)">
    <main>
      <p *ngIf="message" [innerHTML]="message"></p>
    </main>
    <footer>
      <button mat-button (click)="dialogRef.close(false)" type="button">Confirm</button>
    </footer>
  </form>
</section>
