.alert {
  width: 360px;
  background: #fafafa !important;
  margin: 0 auto;
  border-bottom: 0px !important;
}

.alert .error {
  background-color: rgb(244, 67, 54);
  color: white;
}

.alert .notice {
  background-color: #ffff00;
  color: black;
}

.alert .success {
  background-color: #2979ff;
  color: white;
}
