<section>
  <header>
    <h2>Commit</h2>
  </header>

  <form [formGroup]="model" (ngSubmit)="submit()">
    <main>
      <div class="div-title">
        <div class="commit-label">Title</div>
        <mat-form-field class="mat-infix-commit-title" floatLabel="never">
          <input type="text" matInput formControlName="title" placeholder="Title"
                 [value]="title" class="commit-title">
        </mat-form-field>
        <mat-error *ngIf="model.controls.title.invalid">Require commit title.</mat-error>
      </div>

      <div>
        <div class="commit-label">Message</div>
        <mat-form-field class="mat-infix-commit-message" floatLabel="never">
          <textarea matInput formControlName="message" placeholder="message"
                    class="commit-textarea"></textarea>
        </mat-form-field>
        <mat-error *ngIf="model.controls.message.invalid">Require Commit message.</mat-error>
      </div>
    </main>

    <footer>
      <button mat-button (click)="dialogRef.close(false)" type="button">Cancel</button>
      <button mat-button color="primary" type="submit" [disabled]="model.invalid">Commit</button>
    </footer>
  </form>
</section>
