.commit-label {
  color: rgba(0, 0, 0, .654);
  font-size: 14px;
  margin-bottom: 5px;
}

.commit-title {
  font-size: 14px;
}

.mat-infix-commit-title {
  width: 100%;
}

/deep/ .mat-infix-commit-title .mat-form-field-infix {
  border-top: 0px;
}

.mat-infix-commit-message {
  width: 100%;
}

/deep/ .mat-infix-commit-message .mat-form-field-infix {
  border: 1px solid #d3d3d3;
}

.commit-textarea {
  width: 100%;
  height: 150px;
  font-size: 14px;
}


