<section>
  <header>
    <h2 *ngIf="!isEmptyObject(data.row)">Update File Group</h2>
    <h2 *ngIf="isEmptyObject(data.row)">Add File Group</h2>
  </header>

  <main>
    <section>
      <mat-form-field>
        <input matInput placeholder="name" [(ngModel)]="name" [formControl]="nameValidator" required
               (keyup)="checkInvalid($event)">
        <mat-error *ngIf="nameValidator.invalid">You must enter a value</mat-error>
      </mat-form-field>
    </section>
  </main>
  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
    <button *ngIf="!isEmptyObject(data.row)" mat-button color="warn" type="button"
            (click)="deleteGroup()">
      delete
    </button>
    <button *ngIf="!isEmptyObject(data.row)" mat-button [disabled]="disabled" color="primary"
            type="button" (click)="updateGroup()">submit
    </button>
    <button *ngIf="isEmptyObject(data.row)" mat-button [disabled]="disabled" color="primary"
            type="button" (click)="insertGroup()">submit
    </button>
  </footer>
</section>
