<section>
  <header>
    <h2>Save with Alert</h2>
  </header>

  <main>
    <section>
      <mat-form-field>
        <input matInput placeholder="Enter alert message" [(ngModel)]="alert"
               [formControl]="alertValidator" required (keyup)="checkInvalid($event)">
        <mat-error *ngIf="alertValidator.invalid">You must enter a value</mat-error>
      </mat-form-field>
    </section>
  </main>
  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
    <button mat-button [disabled]="disabled" color="primary" type="button" (click)="updateAlert()">
      submit
    </button>
  </footer>
</section>
