<mat-toolbar class="mlt-toolbar">
  <span>AM File Management</span>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="File Group" [(ngModel)]="selectedCode" (change)="loadTableData()"
                (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input"
               [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let code of filteredFileGroupCodes | async" [value]="code.id">
        {{ code.name }}
        <ng-container *ngIf="code.rate == 16000">
          <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">16K</span>
        </ng-container>
        <ng-container *ngIf="code.rate == 8000">
          <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">8K</span>
        </ng-container>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button *ngFor="let action of fileGroupAction" (click)="doAction(action)"
          [hidden]="action.hidden">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section [hidden]="selectedCode !== undefined && selectedCode !== ''">
    <p>Select AM FileGroup first.</p>
  </section>
  <div [hidden]="selectedCode === undefined || selectedCode === ''">
    <section>
      <mat-card-title>Group Files
        <mat-form-field class="mlt-input" [floatLabel]="'never'">
          <input matInput placeholder="Name" [(ngModel)]="groupKeyword">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getGroupFiles(groupKeyword)">Search
        </button>

        <button mat-button *ngFor="let action of groupFilesAction" (click)="doAction(action)"
                [hidden]="action.hidden">
          <mat-icon color="primary">{{action.icon}}</mat-icon>
          <span style="color: #3b78e7">{{action.text}}</span>
        </button>
      </mat-card-title>
      <app-table #groupFileTableComponent [rows]="groupFiles" [headers]="fileGroupHeader"
                 [dataSource]="groupFileDataSource" [length]="groupFilePageTotalCount"
                 (outputSelectedRow)="downloadFile($event)"
                 (outputSelectedHeader)="setSortGroupFiles($event)"
                 (outputPaginator)="setGroupFilePage($event)"></app-table>
    </section>

    <section>
      <mat-card-title>Files out of the group
        <mat-form-field class="mlt-input" floatLabel="never">
          <input matInput placeholder="Name" [(ngModel)]="fileKeyword">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="getFiles(fileKeyword)">Search</button>

        <button mat-button *ngFor="let action of filesAction" (click)="doAction(action)"
                [hidden]="action.hidden">
          <mat-icon color="primary">{{action.icon}}</mat-icon>
          <span style="color: #3b78e7">{{action.text}}</span>
        </button>
      </mat-card-title>

      <app-table #fileTableComponent [rows]="files" [headers]="fileHeader"
                 [dataSource]="fileDataSource" [length]="filePageTotalCount"
                 [pageIndex]="filePage?.pageIndex"
                 (outputSelectedRow)="downloadFile($event)"
                 (outputSelectedHeader)="setSortFiles($event)"
                 (outputPaginator)="setFilePage($event)"></app-table>
    </section>

    <section>
      <mat-card-title>Upload Files</mat-card-title>
      <p>Upload audio files to be used in transcribe.</p>

      <app-uploader [url]="'/stt/am/file-manage/upload-files'" accept=".txt,.wav"
                    [groupId]="selectedCode"
                    (uploadCallback)=getFiles(null)></app-uploader>
    </section>
  </div>
</div>
