<mat-toolbar class="mlt-toolbar">
  <span>AM Transcript</span>
  <mat-form-field class="mlt-select">
    <mat-select placeholder="File Group" [(ngModel)]="selectedCode" (change)="getList()" (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input" [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let code of filteredFileGroupCodes | async" [value]="code.id">
        {{ code.name }}
        <ng-container *ngIf="code.rate == 16000">
          <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">16K</span>
        </ng-container>
        <ng-container *ngIf="code.rate == 8000">
          <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">8K</span>
        </ng-container>
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div class="mlt-mainbody">
  <section [hidden]="selectedCode !== undefined && selectedCode !== ''">
    <p>Select AM FileGroup first.</p>
  </section>
  <section [hidden]="selectedCode === undefined || selectedCode === ''">
    <p>Edit transcript used in STT AM Training.</p>
    <mat-form-field class="mlt-input" floatLabel='never'>
      <input matInput placeholder="Name" [(ngModel)]="searchKeyword">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="getList(searchKeyword,0)" >Search</button>
    <app-table #tableComponent [rows]="tableData" [headers]="tableHeader"
               [dataSource]="tableDataSource" [length]="totalCount"
               (outputSelectedRow)="goDetail($event)"
               (outputPaginator)="setTablePage($event)"
               (outputSelectedHeader)="setSort($event)"></app-table>
  </section>
</div>
