.transcript {
  width: 900px;
}

.transcript .mat-dialog-container {
  height: auto;
}

.transcript .transcript-textarea {
  height: 200px;
  overflow-y: auto;
}

.transcript .mat-button-wrapper {
  font-size: 20px;
}
