<mat-toolbar class="mlt-toolbar">
  <span>Evaluation</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <mat-form-field class="mlt-select">
      <mat-select placeholder="File Group" [(ngModel)]="selectedGroup">
        <mat-option *ngFor="let group of fileGroup" [value]="group">
          {{ group.name }}
          <ng-container *ngIf="group.rate == 16000">
            <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">16K</span>
          </ng-container>
          <ng-container *ngIf="group.rate == 8000">
            <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">8K</span>
          </ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mlt-select">
      <mat-select placeholder="LM Model" [(ngModel)]="selectedLmModel">
        <mat-option *ngFor="let model of lmModels" [value]="model">
          {{ model.name }}
          <ng-container *ngIf="model.rate == 16000">
            <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">16K</span>
          </ng-container>
          <ng-container *ngIf="model.rate == 8000">
            <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">8K</span>
          </ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mlt-select">
      <mat-select placeholder="AM Model" [(ngModel)]="selectedAmModel">
        <mat-option *ngFor="let model of amModels" [value]="model">
          {{ model.name }}
          <ng-container *ngIf="model.rate == 16000">
            <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">16K</span>
          </ng-container>
          <ng-container *ngIf="model.rate == 8000">
            <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">8K</span>
          </ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mlt-input">
      <input matInput placeholder="Name" [(ngModel)]="nameSearchKeyword">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="getResultDataList()">Search</button>

    <button mat-button color="primary" (click)="evaluate()">
      <mat-icon color="primary">insert_chart</mat-icon>
      <span>Evaluate</span>
    </button>

    <app-table #resultDataTableComponent [rows]="resultData" [headers]="resultDataHeader"
               [dataSource]="resultDataSource" [length]="resultDataPageTotalCount"
               (outputSelectedRow)="openModal($event)"
               (outputSelectedHeader)="setSortResultData($event)"
               (outputPaginator)="setResultDataPage($event)"></app-table>
  </section>
</div>
