//ins, ins > * {
//  color: black;
//  background: #bbffbb !important;
//}
//
//del, del > * {
//  color: black;
//  background: #ffbbbb !important;
//}

.evaluation-detail-dialog-content {
  width: 500px;
  //width: calc(100% - 20px);
  //width: -webkit-calc(100% - 20px);
  //width: -moz-calc(100% - 20px);
  overflow-y: auto;
  min-height: 300px;
  font-size: 16px;
  //margin: 0px;
  //padding: 10px;
  //resize: vertical;
  border: 1px solid #b9b9b9;
  //outline: none;
  word-wrap: break-word;
  float: left;

  u {
    text-decoration: none;
    background: rgba(255, 0, 0, 0.6);
    color: #fff;
  }

  ins, ins > * {
    color: black;
    background: #bbffbb !important;
  }

  del, del > * {
    color: black;
    background: #ffbbbb !important;
  }

}

.evaluation-detail-dialog-head {
  font-size: 15px;
  color: #999;
  padding: 5px 0;
}
