<mat-toolbar class="mlt-toolbar">
  <span>Evaluation Result</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <div>
      <mat-form-field class="mlt-input">
        <input matInput [(ngModel)]="fileGroupSearchKeyword" placeholder="FileGroup">
      </mat-form-field>
      <mat-form-field class="mlt-input">
        <input matInput [(ngModel)]="lmModelSearchKeyword" placeholder="LM Model">
      </mat-form-field>
      <mat-form-field class="mlt-input">
        <input matInput [(ngModel)]="amModelSearchKeyword" placeholder="AM Model">
      </mat-form-field>
      <mat-form-field class="mlt-input">
        <input matInput [(ngModel)]="nameSearchKeyword" placeholder="Name">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getResultDataList()">Search</button>

      <button mat-button *ngFor="let action of actions" (click)="doAction(action)">
        <mat-icon color="primary">{{action.icon}}</mat-icon>
        <span style="color: #3b78e7">{{action.text}}</span>
      </button>
    </div>


    <app-table #resultDataTableComponent [rows]="resultData" [headers]="evaluationHeader"
               [dataSource]="resultDataSource" [length]="resultDataPageTotalCount"
               (outputSelectedRow)="openModal($event)"
               (outputSelectedHeader)="setSortResultData($event)"
               (outputPaginator)="setResultDataPage($event)"></app-table>
  </section>

</div>
