<section class="transcript">
  <header>
    <h2>{{row.sttAnalysisResultEntity.fileEntity.name}}</h2>
  </header>

  <main>
    <app-audio-player [url]="audioURL"></app-audio-player>

    <div class="evaluation-detail-dialog-head">
      Total: {{row.total}} Hit: {{row.hit}} Deletion: {{row.deletion}} Insertion: {{row.insertion}} Substitution:
      {{row.substitution}}
    </div>
    <div>
      <div style="float: left">
        <div><span><b>Transcript</b></span></div>
        <div class="evaluation-detail-dialog-content" style="margin-right:10px;">
          <div diff [left]="transcriptResult" [right]="transcriptResult"></div>
        </div>
      </div>
      <div style="float: left">
        <div><span><b>STT Result</b></span></div>
        <div class="evaluation-detail-dialog-content">
          <div diff [left]="transcriptResult" [right]="engineResult"></div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">close</button>
  </footer>
</section>

