.transcription .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.transcription .input {
  margin-left: 15px;
  font-size: 14px;
}

.transcription .download {
  margin-bottom: 10px;
}

.transcript-bottom {
  width: 100%;
  border: 1px solid #d3d3d3;
}

.transcript-bottom .mat-list-item {
  border-bottom: 1px solid #d3d3d3;
}

.transcript-bottom .transcript-left-select {
  width: 45%;
  float: left;
  border-right: 1px solid #d3d3d3;
  margin-right: 20px;
}

.transcript-bottom .transcript-right-select {
  width: 53%;
  float: left;
}

.select-search-form {
  height:42px;
  padding-left: 10px;
  .select-search-form-input {
    height: 100%;
  }
}

